Mi primera semana de Python ✈



1.   Google Colab
2.   Variables
3.   Comentarios
4.   Entre otros conceptos

In [ ]:
# Esto es un comentario

**Comentarios**

EJERCICIO 1

Dentro de tu Google Notebook, genera un primer comentario con #.

Es importante que lo ejecutes generando una nueva celda de código. Y escribas el comentario ahí.

In [ ]:
# Este es de mis primeros comentarios en Python

EJERCICIO 2:

Crea un comentario con "multilínea"

In [ ]:
"""
Este es el MEJOR COMENTARIO MULTILÍNEA DE LA VIDA.
"""

' \nEste es el MEJOR COMENTARIO MULTILÍNEA DE LA VIDA.\n'

# print()

print es una función incorporada, es decir, Python lo tiene disponible por defecto, y sirve para mostrar información en pantalla o en la consola.

Se puede usar para:

Mostrar resultados al usuario
Depurar (ver valores de variables mientras ejecutamos el programa)
Presentar mensajes o textos ✈

In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
print("Bienvenido a Python")
print('Usando comillas simples')

Bienvenido a Python
Usando comillas simples

In [ ]:
print("hola")

hola

In [ ]:
print(42)
print(3.14)

42
3.14

In [ ]:
print("Bienvenido a mi programa")
print("Mi nombre es", "Marcelo", "y tengo", 61, "años")
print("Suma:", 5 + 5)
print("Resta:", 10-3)
print("Multiplicación:", 4*3)

Bienvenido a mi programa
Mi nombre es Marcelo y tengo 61 años
Suma: 10
Resta: 7
Multiplicación: 12

## Ejercicio 1: print()
Usa print() para mostrar "Hola Python" en la consola

In [ ]:
print("Hola Python")

Hola Python

# Ejercicio 2: print()
Usa print() para mostrar el número 33 en la consola

In [ ]:
print(33)

33

# Ejercicio 3: print()
Usa print() para mostrar dos valores separados por coma.

In [ ]:
print(33,",",44)

33 , 44

# Ejercicio 4: print()
Usa print() para mostrar cinco valores separados por coma combinando textos y números.

In [ ]:
print(5,",","ABC",",","Roma",",",1978,",","Z")

5 , ABC , Roma , 1978 , Z

# **input()**

El valor capturado siempre es un texto (tipo str), incluso si el usuario escribe un número.

variable = input("Escribe tu nombre: ")

In [ ]:
# Pedir el nombre y mostrarlo

In [ ]:
nombre = input("Escribe tu nombre: ")
print("Hola", nombre)

Escribe tu nombre: Marcelo
Hola Marcelo

In [ ]:
# Pedir un número y mostrarlo

In [ ]:
edad = input("Escribe tu edad: ")
print("Tu edad es:", edad)

Escribe tu edad: 61
Tu edad es: 61

In [ ]:
# Pedir el color y animal favorito

In [ ]:
color = input("¿Cuál es tu color favorito?: ")
animal = input("¿Cuál es tu animal favorito?: ")
print("Tu color favorito es", color, "y tu animal favorito es", animal)

¿Cuál es tu color favorito?: rojo
¿Cuál es tu animal favorito?: perro
Tu color favorito es rojo y tu animal favorito es perro

# Ejercicios
Pide al usuario su color favorito y muéstralo en pantalla.

In [ ]:
color = input("¿Cuál es tu color favorito?: ")
print("Tu color favorito es", color)

¿Cuál es tu color favorito?: verde
Tu color favorito es verde

# Ejercicio 2: input()
Pide al usuario un número y muéstralo en pantalla.

In [ ]:
número = input("Escribe un número: ")
print("El número es", número)

Escribe un número: 9
El número es 9

# Ejercicio 3: input()

Pide al usuario su canción y película favorita, y muéstralo en pantalla, en una sola línea con print.

In [29]:
canción = input("¿Cuál es tu canción favorita?: ")
película = input("¿Cuál es tu película favorita?: ")
print("Tu canción favorita es", canción, "y tu película favorita es", película)

¿Cuál es tu canción favorita?: Out the blue
¿Cuál es tu película favorita?: Yellow submarine
Tu canción favorita es Out the blue y tu película favorita es Yellow submarine

# **Variables**

# Ejemplos correctos

nombre = "Mike"          # Correcto: letras minúsculas
edad_usuario = 25        # Correcto: usa guion bajo
altura_metros = 1.75     # Correcto: nombre descriptivo
nombreCompleto = "Ana"   # Correcto, aunque no es snake_case
_numero = 10             # Correcto: puede empezar con guion bajo
PI = 3.1416              # Correcto: mayúsculas
curso_2 = "Python"       # Correcto: puede contener números (pero no al inicio)

# Ejemplos incorrectos y no recomendados

2nombre = "Luis"         # Error: empieza con número
nombre-usuario = "Ana"   # Error: el guion medio no está permitido
nombre usuario = "Ana"   # Error: no se permiten espacios
if = "condición"         # Error: palabra reservada
café = "Bebida"          # Válido, pero no recomendado: caracteres especiales
print = "Hola"           # Válido, pero no recomendado: sobrescribe función interna de Python

# Ejercicio 1: Variables

Crea una variable ciudad con el nombre de tu ciudad y muéstrala en pantalla.

In [30]:
ciudad = "Buenos Aires"
print(ciudad)

Buenos Aires

# Ejercicio 2: Variables

Crea tres variables con tu nombre, apellido y edad, y muéstralas en una sola línea usando print()

In [32]:
nombre = "Marcelo"
apellido = "López"
edad = 61
print(nombre, ",", apellido, ",", edad)

Marcelo , López , 61

# Ejercicio 3: Variables

Corrigue el siguiente código para que sea válido.

In [33]:
2apellido = "Martínez"

SyntaxError: invalid decimal literal (ipython-input-1769745114.py, line 1)

In [34]:
apellido = "Martínez"

# Ejercicio 4: Variables

Corrigue el siguiente código para que sea válido.

nombre usuario = "Pedro"

In [38]:
nombre_usuario = "Pedro"

# Ejercicio 5: Variables

Crea dos variables distintas llamadas curso y Curso con valores diferentes y muéstralas en una sola línea para evidenciar que son variables distintas.

In [39]:
curso = "Python"
Curso = "Java"
print(curso,",",Curso)

Python , Java

# Ejercicio 6: Variables

Crea una variable llamada nombre_completo_usuario con un nombre ficticio y muéstrala.

In [41]:
nombre_completo_usuario = "John"
print(nombre_completo_usuario)

John

# Ejercicio 7: Variables

Corrige el siguiente código y muéstralo:

precio-venta = 150

In [42]:
precio_venta = 150
print(precio_venta)

150

# **Tipos de datos primitivos**

Los principales tipos primitivos son:

str. Cadenas de texto
int. Números enteros
float. Números decimales
bool. Valores lógicos (True o False)

# Ejercicio 1: Primitivos

Crea una variable pais con el nombre de un país y muestra su tipo usando type().

In [45]:
pais = "Argentina"
print(type(pais))

<class 'str'>

# **Textos planos (str)**

Siempre entre comillas simples o dobles.
Puede contener letras, números, espacios y símbolos.
Son inmutables.

Se pueden concatenar (unir) con el operador +.

# Ejercicio 1: Textos

Crea una variable con tu nombre y muéstrala en pantalla.

In [46]:
nombre = "Marcelo"
print(nombre)

Marcelo

# Ejercicio 2: Textos

Crea dos variables con nombre y apellido, y únelas en una sola cadena usando + (concatenación).

In [47]:
nombre = "Marcelo"
apellido = "López"
print(nombre + " " + apellido)

Marcelo López

# Ejercicio 3: Textos

Crea una variable con un texto que contenga comillas dobles dentro de comillas simples (o al revés).

In [50]:
club_ciudad = "River Plate, 'Buenos Aires'"
print(club_ciudad)

River Plate, 'Buenos Aires'

# Ejercicio 4: Textos

Corrige el siguiente código para que sea válido:

frase = "El lenguaje Python es "genial""

In [51]:
frase = "El lenguaje Python es 'genial'"
print(frase)

El lenguaje Python es 'genial'

# Números (int, float)**bold text**

# Ejercicio 1: Numbers

Crea una variable edad con un número entero y muéstrala en pantalla.

In [52]:
edad = 61
print(edad)

61

# Ejercicio 2: Numbers

Crea una variable pi con el valor 3.1416 y muéstrala en pantalla.

In [53]:
pi = 3.1416
print(pi)

3.1416

# Ejercicio 3: Numbers

Crea una variable precio con un valor decimal y otra cantidad con un entero, y muéstralas en una sola línea.

In [54]:
precio = 10.2
cantidad = 5
print(precio,",",cantidad)

10.2 , 5

# **Booleanos (bool)**

# Ejercicio 1: Boolean

Crea una variable con valor verdadero.

In [55]:
es_activo = True
print(es_activo)

True

# **Operaciones Básicas**

Si una operación involucra float, el resultado será float (excepto // que redondea hacia abajo)
La división / siempre devuelve float, incluso si es exacta (4 / 2 -> 2.0)
El operador % devuelve el resto de la división, también conocido como módulo.
El operador ** se usa para potencias. Por ejemplo: 2 ** 5 es 2^5

a = 10
b = 3

print(a + b)   # 13
print(a - b)   # 7
print(a * b)   # 30
print(a / b)   # 3.333...
print(a // b)  # 3
print(a % b)   # 1
print(a ** b)  # 1000

# Divisiones en Python

División normal. Siempre devuelve un número decimal (float), aunque la división sea exacta.

División entera. Devuelve el resultado entero, eliminando la parte decimal. Redondea hacia abajo sin importar si el resultado es positivo o negativo.

Módulo. Devuelve el resto de la división.

# Ejercicio 1: Operaciones

Suma dos números y muestra el resultado.

In [57]:
suma = 5 + 5
print(suma)

10

# Ejercicio 2: Operaciones

Resta el número 15 menos 7 y muestra el resultado.

In [58]:
Resta = 15 - 7
print(Resta)

8

# Ejercicio 3: Operaciones

Multiplica 8 por 6 y muestra el resultado.

In [59]:
Multiplicación = 8 * 6
print(Multiplicación)

48

# Ejercicio 4: Operaciones

Divide 45 entre 9 y muestra el resultado.

In [60]:
División = 45 / 9
print(División)

5.0

# Ejercicio 5: Operaciones

Divide 23 entre 5 usando división entera (//) y muestra el resultado.

In [61]:
División_entera = 23 // 5
print(División_entera)

4

# Ejercicio 6: Operaciones

Obtén el resto de dividir 23 entre 5 usando % y muéstralo.

In [62]:
Resto = 23 % 5
print(Resto)

3

# Ejercicio 7: Operaciones

Calcula 2 elevado a la 5 usando ** y muéstralo.

In [63]:
potencia = 2 ** 5
print(potencia)

32

# **Precedencia de operadores**

En matemáticas y en Python, multiplicar y dividir tienen prioridad sobre sumar y restar.

# Ejercicio 1: Precedencia

Calcula: 2 + 3 * 4

In [64]:
print(2 + 3 * 4)

14

Ejercicio 2: Precedencia

Calcula: (2 + 3) * 4

In [67]:
print((2 + 3) * 4)

20

# Ejercicio 3: Precedencia

Calcula: 10 - 6 / 3

In [68]:
print(10 - 6 / 3)

8.0

# Ejercicio 4: Precedencia

Calcula: 2 + 3 * 4 ** 2

In [69]:
print(2 + 3 * 4 ** 2)

50

# Ejercicio 5: Precedencia

Calcula: 100 / 5 * 2

In [70]:
print(100 / 5 * 2)

40.0

# Ejercicio 7: Precedencia

Calcula: 7 + 8 % 3 * 2

In [71]:
print(7 + 8 % 3 * 2)

11

# Ejercicio 9: Precedencia

Calcula: (17 // 4) * 2 + (17 % 4)

In [73]:
print((17 //4) * 2 + (17 % 4))

9

# **Conversión de tipos**

Se refiere al proceso de cambiar el tipo de dato de un valor a otro, por ejemplo, de texto (str) a número (int o float) o viceversa.

In [75]:
# nuevo_valor = tipo_dato(valor_original)

In [77]:
# Un entero en una operación con un flotante se convierte en flotante.

# num = 5 + 2.0  # Resultado: 7.0 (int se convierte a float automáticamente)

# int(x)

Convierte un valor a un número entero, eliminando cualquier parte decimal si la hay.

No redondea, trunca hacia 0 (descarta los decimales sin importar si es positivo o negativo)

# float(x)

Convierte un valor a número decimal

# str(x)

Convierte cualquier valor a su representación en texto

# bool(x)

Convierte un valor a True o False.

# Ejercicio 1: Conversión de tipos

Pide al usuario un número entero, conviértelo a float y muestra valor después de convertir.

In [78]:
número_entero = int(input("Escribe un número entero: "))
print(float(número_entero))

Escribe un número entero: 45
45.0

# Ejercicio 2: Conversión de tipos

Convierte el número 3.99 a int y muéstralo.

In [79]:
número = int(3.99)
print(número)

3

# Ejercicio 3: Conversión de tipos

Convierte el texto "2025" a int, súmale 5 y muestra el resultado.

In [80]:
Ej_3 = int("2025") + 5
print(Ej_3)

2030

# Ejercicio 4: Conversión de tipos

Convierte el número 150 a str y concaténalo en la frase. Usa str().

In [81]:
Ej_4 = "El número es " + str(150)
print(Ej_4)

El número es 150

# Ejercicio 5: Conversión de tipos

Muestra el tipo antes y después de convertir el texto "50.5" a float (imprime también el valor convertido).

In [82]:
Ej_5 = "50.5"
print(type(Ej_5))
Ej_5 = float(Ej_5)
print(type(Ej_5))
print(Ej_5)

<class 'str'>
<class 'float'>
50.5

# **Formateo de textos (str)**

# Operadores básicos para textos

Concatenación (+). Este se encarga de unir textos.
Repetición (*). Este se encarga de repetir un texto múltiples veces.

# **f-strings**

In [83]:
# f"Texto {variable}"

Esto permite insertar variables, expresiones y aplicar formato dentro de {}.

In [84]:
nombre = "Ana"
edad = 25
print(f"Hola, {nombre}. Tienes {edad} años.")
# Hola, Ana. Tienes 25 años.

Hola, Ana. Tienes 25 años.

# **.format()**

Se pueden usar índices {0}, {1}, o nombres {nombre}.

In [86]:
print("Hola, {}. Tienes {} años.".format("Ana", 25))
# Hola, Ana. Tienes 25 años.

print("Hola, {nombre}. Tienes {edad} años.".format(nombre="Ana", edad=25))
# Hola, Ana. Tienes 25 años.

Hola, Ana. Tienes 25 años.
Hola, Ana. Tienes 25 años.

# Ejercicio 1: String Formatting

Crea un f-string que muestre tu nombre y edad.

In [87]:
nombre = "Marcelo"
edad = 61
print(f"Hola, {nombre}. Tienes {edad} años.")

Hola, Marcelo. Tienes 61 años.

# Ejercicio 2: String Formatting

Usa .format() para mostrar un mensaje con el nombre “Juan” y el valor 3.1416 con 2 decimales.

In [89]:
print("Hola, {}. El valor es {:.2f}".format("Juan", 3.1416))

Hola, Juan. El valor es 3.14

# Ejercicio 3: String Formatting

Usa un f-string para mostrar el resultado de 5 * 7 con el texto: “El resultado es X”.

In [90]:
print(f"El resultado es {5 * 7}")

El resultado es 35

# Ejercicio 4: String Formatting

Muestra el precio 49.99 alineado a la derecha en un espacio de 10 caracteres.

In [91]:
precio = 49.99
print(f"{precio:>10}")

     49.99

# Ejercicio 5: String Formatting

Usa un f-string para mostrar pi = 3.141592 con 4 decimales.

In [92]:
pi = 3.141592
print(f"{pi:.4f}")

3.1416