# Colecciones

En Python, una colección es una estructura de datos que permite almacenar, organizar y manipular múltiples valores dentro de una sola variable.

# Listas (list)

-Ordenadas

-Mutables

-Permiten elementos repetidos

In [ ]:
#           0   1   2   3    (son ordenadas)

numeros = [10, 20, 30, 40]
nombres = ["Ana", "Luis", "Pedro"]
países = ["España", "Francia", "Alemania"]
print(numeros)
print(nombres)

[10, 20, 30, 40]
['Ana', 'Luis', 'Pedro']

# Diccionarios (dict)

In [ ]:
vehiculos = {"marca": "Ford", "año": 2000, "color": "gris"}

-Guardan pares clave–valor

-Mutables.

-No permiten claves repetidas

In [ ]:
alumno = {"nombre": "Ana", "edad": 20, "curso": "Python"}

In [ ]:
alumno = {
    "nombre": "Ana",
    "edad": 20,
    "curso": ["Python", "SQL"]
}

print(alumno)

{'nombre': 'Ana', 'edad': 20, 'curso': ['Python', 'SQL']}

# Conjuntos (set)

Colección no ordenada de elementos únicos

No permite duplicados

Útiles para operaciones matemáticas y de conjuntos

In [ ]:
#         no hay índice
clubes = {"River Plate", "Independiente", "Estudiantes"}

In [ ]:
frutas = {"manzana", "pera", "uva"}

# Tuplas (tuple)

-Ordenadas

-Inmutables (no puedes cambiar sus elementos)

-Permiten repetidos

In [ ]:
numeros = (1, 2, 2, 4, 8)
print("Ejemplo de tupla", numeros)

Ejemplo de tupla (1, 2, 2, 4, 8)

In [ ]:
# Ordenadas    0   1
coordenada = (10, 20)

print(coordenada)

(10, 20)

In [ ]:
registro_anuel_nominas = (2500, 5000, 6000)

print(registro_anuel_nominas)

(2500, 5000, 6000)

Características generales:

-Se pueden recorrer con bucles (for).

-Tienen métodos y funciones útiles (len, min, max, sum, sorted).

-Cada tipo de colección sirve para un propósito distinto:

*Listas. Datos ordenados y cambiantes.

*Diccionarios. Pares clave–valor.

*Conjuntos. Valores únicos.

*Tuplas. Datos que no deben cambiar.



---

# Ejercicios

# Ejercicio 1

In [ ]:
# === LISTAS (list) ===
frutas = ["manzana", "pera", "plátano"]
numeros = [10, 20, 30, 40, 50]
mixta = ["hola", 123, 4.5, True]

# === DICCIONARIOS (dict) ===
persona = {"nombre": "Ana", "edad": 25, "ciudad": "Madrid"}
producto = {"id": 101, "nombre": "Laptop", "precio": 899.99}
vacio = {}  # diccionario vacío

# === CONJUNTOS (set) ===
colores = {"rojo", "verde", "azul"}
numeros_unicos = {1, 2, 3, 3, 2, 1}  # duplicados se eliminan
lenguajes = {"Python", "Java", "C++"}

# === TUPLAS (tuple) ===
coordenadas = (10, 20)
punto3D = (5, -3, 7)
datos = ("Mike", 30, "México")



---

# Listas

Hablemos de listas.


Una lista es una colección ordenada y mutable de elementos.




Esto significa que:

-Ordenada: cada elemento tiene una posición (índice), empezando en 0.

-Mutable: puedes cambiar elementos existentes.

-Heterogénea: puede mezclar distintos tipos de datos (int, str, bool, etc.).

-Permite duplicados: el mismo valor puede aparecer varias veces.

-Úsala cuando necesites una secuencia de datos con orden que sí vas a modificar.

In [ ]:
# Lista vacía
mi_lista = []

# Lista con elementos
frutas = ["manzana", "pera", "plátano"]

# Lista con diferentes tipos de datos
mixta = ["hola", 123, 3.14, True]

# Más ejemplos
vacia = []                                     # lista vacía
frutas = ["manzana", "pera", "plátano"]        # str
mixta = ["hola", 123, 3.14, True]              # tipos mezclados
caracteres = list("hola")                      # convierte a lista de caracteres -> ['h','o','l','a']
repetidos = [0] * 5                            # [0, 0, 0, 0, 0]

Características principales

Índices y accesos:

-Considera que el primer elemento inicia con índice 0.

-El último elemento con índice -1.

Ten cuidado con acceder a una posición que no existe (nums[10] en una lista de 4). Podrías generar un IndexError.

In [ ]:
nums = [10, 20, 30, 40]

nums[0]      # 10  (primer elemento)
nums[1]      # 20
nums[-1]     # 40  (último)
nums[-2]     # 30

30

# Mutabilidad (reemplazo)

Puedes reasignar posiciones existentes.

In [ ]:
numeros[1] = 99
print(numeros)   # [10, 99, 30]

[10, 99, 30, 40, 50]

# Slicing (rebanadas)

lista[inicio:fin:paso]

inicio: índice donde empiezas (incluido).

fin: índice donde paras (excluido: “hasta, pero sin incluir”).

paso: de cuánto en cuánto avanzas (por defecto, 1).

Si omites valores, Python usa por defecto:

inicio = 0, fin = len(lista), paso=1

In [ ]:
letras = ["a","b","c","d","e","f"]

letras[1:4]      # ['b','c','d']   (1,2,3)
letras[:3]       # ['a','b','c']   (desde inicio)
letras[3:]       # ['d','e','f']   (hasta el final)
letras[::2]      # ['a','c','e']   (paso 2)
letras[::-1]     # ['f','e','d','c','b','a'] (invertida)


"""
índice:    0   1   2   3   4   5
valor:    'a' 'b' 'c' 'd' 'e' 'f'
negativos: -6 -5  -4  -3  -2  -1
"""

# Más ejemplos

letras[:3]        # ['a', 'b', 'c']  (desde el inicio hasta 3, sin incluir 3)
letras[2:]        # ['c', 'd', 'e', 'f']  (desde 2 hasta el final)
letras[1:4]       # ['b', 'c', 'd']  (incluye 1, excluye 4)
letras[-3:]       # ['d', 'e', 'f']  (los 3 últimos)
letras[:-2]       # ['a', 'b', 'c', 'd']  (todo menos los 2 últimos)
letras[::2]       # ['a', 'c', 'e']   (paso 2)
letras[::-1]      # ['f', 'e', 'd', 'c', 'b', 'a']

['f', 'e', 'd', 'c', 'b', 'a']

También puedes reemplazar tramos donde se modifica la original.

In [ ]:
nums = [0,1,2,3,4]
nums[1:4] = [10,11,12]

print(nums)   # [0,10,11,12,4]

[0, 10, 11, 12, 4]

# Pertenencia y longitud

in y not in verifican si un elemento está en la lista. len() da cuántos elementos hay.

In [ ]:
colores = ["rojo","verde","azul"]

"verde" in colores     # True
"negro" not in colores # True
len(colores)

"gris" in colores        # 3

False

# Iteración básica (recorrer la lista)

Sin entrar a métodos todavía, puedes leer cada elemento con for.

In [ ]:
nombres = ["Ana","Luis","Marta"]
for nombre in nombres:
    print(nombre)

Ana
Luis
Marta

In [ ]:
colores = ["rojo","verde","azul"]
for color in colores:
    print(color)

rojo
verde
azul

# Asignación = mismo objeto

La asignación es igual al mismo objeto.

En este ejemplo, b = a no copia, solo crea otro nombre para la misma lista.

In [ ]:
a = [1,2,3]
b = a          # b "apunta" a la MISMA lista
b[0] = 99
print(a)       # [99,2,3]  <-- también cambió // la lista es mutable

[99, 2, 3]

# Permiten duplicados y orden importan

Las listas permiten valores repetidos.

Con el orden, [1, 2, 2, 3] es distinto de [2, 1, 2, 3]. Es importante mantenerlo.

La igualdad entre listas (==) compara elemento por elemento, en orden y con cantidad de repetidos.

In [ ]:
nums = [1, 2, 2, 3, 2]

print(2 in nums)           # True  (existe al menos un 2)
print(4 in nums)           # False

print([1,2,2] == [1,2,2])  # True
print([1,2,2] == [2,1,2])  # False (el orden cambia)

# Otro ejemplo
letras = ["a","b","a","c"]
print("a" in letras)       # True
print(letras == ["a","b","a","c"])  # True
print(letras == ["b","a","a","c"])  # False

True
False
True
False
True
True
False

# Iteración básica

Puedes recorrer todos los elementos con for

In [ ]:
nombres = ["Ana","Luis","Marta"]
for nombre in nombres:
    print(nombre)

Ana
Luis
Marta



---

# Ejercicios

Crear una lista llamada países con 4 países. Muestra el primero y el último elemento usando índices.

In [ ]:
países = ["Arg", "Bra", "Col", "Mex"]
print(países[0::3])

['Arg', 'Mex']

Crea una lista de 5 números. Muestra el último y el penúltimo usando índices negativos.

In [ ]:
números = [0,1,3,5,7]
print(números[-1])
print(números[-2])

7
5

Crea una lista colores = ["rojo", "verde", "azul"] y cambia el valor "verde" por "amarillo".

In [ ]:
colores = ["rojo", "verde", "azul"]

colores[1] = "amarillo"

print(colores)

['rojo', 'amarillo', 'azul']

Dada la lista letras = ["a","b","c","d","e","f"], imprime:

Los tres primeros elementos.
Los tres últimos.
Desde la posición 2 hasta la 4 (sin incluir la 4).

In [ ]:
letras = ["a","b","c","d","e","f"]

print(letras[0:3])
print(letras[-3:])
print(letras[2:4])

['a', 'b', 'c']
['d', 'e', 'f']
['c', 'd']

Usa nums = [0,1,2,3,4,5,6,7,8,9] para:

Obtener todos los números pares.
Obtener todos los números impares.
Mostrar la lista en orden inverso.

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]

print(nums[::2])
print(nums[1::2])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

Con la lista animales = ["perro","gato","pez","gato"], verifica si "gato" está en la lista, cuántos elementos tiene en total, y si "loro" no está en la lista.

In [ ]:
animales = ["perro","gato","pez","gato"]
print("gato" in animales)
print(len(animales))
print("loro" not in animales)

True
4
True

Crea una lista nombres = ["Ana","Luis","Marta"] y recórrela con un for para imprimir cada nombre en una línea.

In [ ]:
nombres = ["Ana","Luis","Marta"]
for nombre in nombres:
    print(nombre)

Ana
Luis
Marta

Crea a = [1,2,3]. Luego haz b = a. Cambia b[0] = 100. Muestra a y b.

Como lo hicimos en el ejemplo. Explica qué sucede en un comentario.

In [ ]:
a = [1,2,3] # Creamos una lista
b = a # Asignamos b = a
# Esto no crea una copia
# 'b' y 'a' apuntan a la misma lista.
b[0] = 100 # Cambiamos el primer elemento de b
print(a) # Como 'a' y 'b' son el mismo objeto,
# el cambio se refleja en ambos.
print(b)

[100, 2, 3]
[100, 2, 3]

Dada lista = [1,2,2,3,2,4]:

Verifica si el número 2 está en la lista.
Cuenta cuántas veces aparece el número 2 usando un for.
Crea otra lista [2,1,2,3,2,4] y compárala con lista usando ==.

In [ ]:
lista = [1,2,2,3,2,4]
print(2 in lista)  # True

conteo = 0
for x in lista:
    if x == 2:
        conteo += 1
print(conteo)  # 3

otra = [2,1,2,3,2,4]
print(lista == otra)  # False (el orden importa)

True
3
False



---

# Metodos de listas

# append(x)
Agrega un elemento al final de la lista.

In [ ]:
frutas = ["manzana", "pera"]
frutas.append("plátano")
print(frutas)  # ['manzana', 'pera', 'plátano']

['manzana', 'pera', 'plátano']

# insert(i, x)
Inserta un elemento en una posición específica (desplaza los demás).

In [ ]:
frutas = ["manzana", "pera"]
frutas.insert(1, "plátano")
print(frutas)  # ['manzana','plátano','pera']

['manzana', 'plátano', 'pera']

# extend (iterable)
Agrega varios elementos de otra colección (otra lista, tupla, etc.).

In [ ]:
nums = [1, 2]
nums.extend([3, 4, 5])
print(nums)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

#remove(x)
Elimina la primera ocurrencia de un elemento. Si el valor no existe, genera un ValueError.

In [ ]:
colores = ["rojo","verde","azul","verde"]
colores.remove("verde")
print(colores)  # ['rojo','azul','verde']

['rojo', 'azul', 'verde']

# pop([i])
Elimina y devuelve un elemento.

Sin argumento. Quita el último.
Con índice. Quita en esa posición.

In [ ]:
nums = [10,20,30]
ultimo = nums.pop()
print(ultimo)  # 30
print(nums)    # [10,20]

primero = nums.pop(0)
print(primero) # 10
print(nums)    # [20]

30
[10, 20]
10
[20]

#index(x)
Devuelve el índice de la primera ocurrencia de x.

In [ ]:
letras = ["a","b","c","b"]
print(letras.index("b"))  # 1

1

#count(x)
Cuenta cuántas veces aparece un elemento.

In [ ]:
nums = [1,2,2,3,2]
print(nums.count(2))  # 3

3

#sort()
Ordena la lista misma (in place).

Modifica la original, no devuelve una nueva lista.

Funciona con números, strings (alfabético) y otros tipos comparables.

In [ ]:
nums = [5, 2, 9, 1]
nums.sort()
print(nums)  # [1, 2, 5, 9]  ← ascendente

nums.sort(reverse=True)
print(nums)  # [9, 5, 2, 1]  ← descendente

# Con strings
frutas = ["pera", "manzana", "uva", "plátano"]
frutas.sort()
print(frutas)  # ['manzana','pera','plátano','uva'] (orden alfabético)

frutas.sort(reverse=True)
print(frutas)  # ['uva','plátano','pera','manzana']

# Con key. Ordenar palabras por su longitud
palabras = ["sol", "estrella", "luz", "universo"]
palabras.sort(key=len)
print(palabras)  # ['sol', 'luz', 'estrella', 'universo']

[1, 2, 5, 9]
[9, 5, 2, 1]
['manzana', 'pera', 'plátano', 'uva']
['uva', 'plátano', 'pera', 'manzana']
['sol', 'luz', 'estrella', 'universo']

#reverse()
Invierte el orden de la lista, sin importar si está ordenada o no.

No compara valores, solo voltea el orden existente.

También modifica la original.

In [ ]:
letras = ["a","b","c"]
letras.reverse()
print(letras)  # ['c','b','a']

nums = [10, 20, 30]
nums.reverse()
print(nums)  # [30, 20, 10]

['c', 'b', 'a']
[30, 20, 10]

#clear()
Vacía la lista.

In [ ]:
nums = [1,2,3]
nums.clear()
print(nums)  # []

[]



---

Crea una lista vacía de nombres, agrega dos nombres con append, y luego inserta uno en la primera posición con insert.

In [ ]:
nombres = ["pedro", "Paco"]
nombres.append("Juan")
nombres.insert(0, "Luis")
print(nombres)

['Luis', 'pedro', 'Paco', 'Juan']

Crea una lista con [1,2], y extiéndela con [3,4,5].

In [ ]:
num = [1,2]
num.extend([3,4,5])
print(num)

[1, 2, 3, 4, 5]

Dada colores = ["rojo","verde","azul","verde"], elimina un "verde" con remove.

Luego usa pop() para eliminar y guardar el último color.

In [ ]:
colores = ["rojo","verde","azul","verde"]
colores.remove("verde")
print(colores)

ultimo = colores.pop()
print(ultimo)

['rojo', 'azul', 'verde']
verde

Con letras = ["a","b","c","b","a","b"], muestra el índice de la primera "b".

Luego muestra cuántas veces aparece "b".

In [ ]:
letras = ["a","b","c","b","a","b"]
print(letras.index("b"))
print(letras.count("b"))

1
3

Con nums = [5,1,4,2,3]:

Ordena en forma ascendente.
Ordena en forma descendente.
Invierte el orden actual.

In [ ]:
nums = [5,1,4,2,3]
nums.sort()
print(nums)

nums.sort(reverse=True)
print(nums)

nums.reverse()
print(nums)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

Crea una lista con [10,20,30], luego vacíala y muéstrala.

In [ ]:
nums = [10,20,30]
nums.clear()
print(nums)

[]



---

## Diccionarios (dict)

Un diccionario es una colección mutable de pares clave–valor.

Sirve para asociar un nombre (la clave) con un dato (el valor).jemplo:

Clave: "nombre" - Valor: "Ana"
Clave: "edad" - Valor: 25

Características
Dentro de su formato, son:

-Mutables: puedes agregar, cambiar o eliminar pares.

-Claves únicas: no puede haber dos claves iguales.

-Valores libres: los valores pueden ser de cualquier tipo (número, string, lista, otro dict…).

In [ ]:
# Vacío
vacio = {}

# Con datos
persona = {
    "nombre": "Ana",
    "edad": 25,
    "ciudad": "CDMX"
}

# Claves numéricas también funcionan
puntos = {1: "uno", 2: "dos"}

# Tuplas como clave (siempre que sean inmutables)
coordenada_a_color = {(10, 20): "rojo", (15, 5): "azul"}

Denotemos características:

-Una clave debe ser hashable (inmutable). Esto significa str, int, float, bool, tuple (si sus elementos también son hashables).

-No puedes usar list, dict, o set como clave. Si lo haces, obtendrás un error llamado "unhashable type".

In [ ]:
ok = {"user_1": "Ana", 10: "diez", (1,2): "punto"}
# Mal:
# malo = {[1,2]: "lista"}   # TypeError: unhashable type: 'list'
print(ok)

{'user_1': 'Ana', 10: 'diez', (1, 2): 'punto'}

In [ ]:
malo = {[1,2]: "lista"}

TypeError: unhashable type: 'list'

# Acceso y lectura

-Se accede usando la clave, no índices.

-Si la clave no existe, se generará un KeyError.

-No hay índices posicionales como en listas.

In [ ]:
print(persona["nombre"])  # Ana
print(persona["edad"])    # 25

Ana
25

Un uso seguro podría ser usar el método .get()

In [ ]:
print(persona.get("altura"))        # None
print(persona.get("altura", 0))     # 0 (valor por defecto)

None
0

#Modificación y agregado

-Asignar con una clave agrega o actualiza.

-Si la clave ya está, entonces modificas.

-Si la clave no está, entonces agregas.

-No hay error al agregar. Python simplemente "inventa" la nueva clave.

In [ ]:
persona["edad"] = 26
print(persona)
# {'nombre': 'Ana', 'edad': 26}


persona["profesion"] = "Dev"
print(persona)
# {'nombre': 'Ana', 'edad': 26, 'profesion': 'Dev'}

{'nombre': 'Ana', 'edad': 26, 'ciudad': 'CDMX'}
{'nombre': 'Ana', 'edad': 26, 'ciudad': 'CDMX', 'profesion': 'Dev'}

# Eliminar elementos
La instrucción **del** elimina la clave y su valor del diccionario.

In [ ]:
persona = {"nombre": "Ana", "edad": 25, "ciudad": "CDMX"}

del persona["ciudad"]   # elimina la clave "ciudad"
print(persona)
# {'nombre': 'Ana', 'edad': 25}

{'nombre': 'Ana', 'edad': 25}

Si borras una clave que no existe, recibirás un "KeyError".

Por eso, si no estás seguro de que la clave existe, podrías checar con **if**, combinado con **in**.

In [ ]:
if "altura" in persona:
    del persona["altura"]

print(persona)

{'nombre': 'Ana', 'edad': 25}

También **del** se puede usar sobre la variable completa.

# Membresía y tamaño

-in verifica claves, no valores

-len (dict) da cuántos pares hay

In [ ]:
persona = {"nombre": "Ana", "edad": 2}

print("nombre" in persona)      # True
print("Ana" in persona)         # False (porque busca claves)
print("Ana" in persona.values())# True (así sí busca en valores)
print(len(persona))             # número de pares

True
False
True
2

# Recorrer diccionarios (iteración)

Por defecto, un for sobre el dict recorre claves.

In [ ]:
persona = {"nombre": "Ana", "edad": 25, "ciudad": "CDMX"}

for clave in persona:
    print(clave)                # nombre, edad, profesion

# Clave y valor (forma clara y didáctica)
for clave in persona:
    valor = persona[clave]
    print(clave, "→", valor)

nombre
edad
ciudad
nombre → Ana
edad → 25
ciudad → CDMX

#Recorrer diccionarios (iteración)

Por defecto, un for sobre el dict recorre claves.

In [ ]:
persona = {"nombre": "Ana", "edad": 25, "profesión": "paisajista"}

for clave in persona:
    print(clave)                # nombre, edad, profesion

# Clave y valor (forma clara y didáctica)
for clave in persona:
    valor = persona[clave]
    print(clave, "→", valor)

nombre
edad
profesión
nombre → Ana
edad → 25
profesión → paisajista

# Diccionarios anidados y valores mutables

Los valores pueden ser cualquier cosa, incluidas listas u otros diccionarios.

In [ ]:
alumno = {
    "nombre": "Ana",
    "cursos": ["Python", "Datos"],
    "perfil": {"pais": "MX", "anio": 2025}
}
print(alumno["cursos"][0])        # "Python"
print(alumno["perfil"]["pais"])   # "MX"

Python
MX

Si un valor es mutable (lista, dict), cambiarlo modifica el dict sin reasignar toda la clave.

In [ ]:
alumno["cursos"].append("IA")   # (cuando veas métodos de lista)

print(alumno)

{'nombre': 'Ana', 'cursos': ['Python', 'Datos', 'IA', 'IA'], 'perfil': {'pais': 'MX', 'anio': 2025}}

#Asignación, aliasing y copia

Asignación normal

En este ejemplo, no se crea un nuevo diccionario.

In [ ]:
a = {"x": 1, "y": 2}
b = a

Ambos nombres (a y b) apuntan al mismo objeto en memoria.

Es decir, si cambias uno, cambias ambos.

In [ ]:
b["x"] = 99
print(a)  # {'x': 99, 'y': 2}
print(b)  # {'x': 99, 'y': 2}

{'x': 99, 'y': 2}
{'x': 99, 'y': 2}

Esto se le llama aliasing. Se le llama así a la consecuencia de esa asignación.

Es como tener dos etiquetas para la misma caja.

#Copia superficial

Si quieres realmente otro diccionario distinto, debes copiarlo.

In [ ]:
a = {"x": 1, "y": 2}

c = a.copy()       # usando método copy()
d = dict(a)        # construyendo uno nuevo

c["x"] = 100
print(a)  # {'x': 1, 'y': 2}
print(c)  # {'x': 100, 'y': 2}

{'x': 1, 'y': 2}
{'x': 100, 'y': 2}

Ahora, **c** y **d** son nuevos diccionarios con los mismos pares.

Si modificas **c**, no afecta a **a**.

Esto se le conoce como copia superficial o "shallow copy".

#¿Cuándo usar diccionarios?

Cuando tus datos tienen etiquetas naturales: "nombre", "precio", "id", "email".

Cuando necesitas buscar rápido por clave (consulta directa).

Cuando modelas entidades o registros (usuario, producto, configuración).

**Ejemplos**

In [ ]:
# Crear un diccionario
persona = {"nombre": "Ana", "edad": 25}
print(persona)  # {'nombre': 'Ana', 'edad': 25}

# Acceder por clave
print(persona["nombre"])  # Ana
# print(persona["ciudad"])  # KeyError, no existe

# Acceso seguro
print(persona.get("ciudad", "No disponible"))  # No disponible

# Modificar un valor existente
persona["edad"] = 26
print(persona)  # {'nombre': 'Ana', 'edad': 26}

# Agregar una nueva clave
persona["ciudad"] = "CDMX"
print(persona)  # {'nombre': 'Ana', 'edad': 26, 'ciudad': 'CDMX'}

# Eliminar una clave existente
del persona["ciudad"]
print(persona)  # {'nombre': 'Ana', 'edad': 26}

# Verificar pertenencia
print("nombre" in persona)  # True (clave existe)
print("Ana" in persona)     # False (busca clave, no valor)

# Tamaño
print(len(persona))  # 2 pares

# Iterar
for clave in persona:
    print(clave, "→", persona[clave])

# Alias (asignación normal)
a = {"x": 1}
b = a
b["x"] = 99
print(a)  # {'x': 99}  → aliasing

# Copia superficial
c = a.copy()
c["x"] = 100
print(a)  # {'x': 99}
print(c)  # {'x': 100}

# Diccionario anidado
usuario = {
    "nombre": "Mike",
    "contacto": {"email": "mike@mail.com", "tel": "1234"}
}
print(usuario["contacto"]["email"])  # mike@mail.com

{'nombre': 'Ana', 'edad': 25}
Ana
No disponible
{'nombre': 'Ana', 'edad': 26}
{'nombre': 'Ana', 'edad': 26, 'ciudad': 'CDMX'}
{'nombre': 'Ana', 'edad': 26}
True
False
2
nombre → Ana
edad → 26
{'x': 99}
{'x': 99}
{'x': 100}
mike@mail.com



---

# Ejercicios

Crea un diccionario alumno con un nombre, edad y carrera. Imprime solo la carrera.

In [ ]:
alumno = {"nombre": "Santiago", "edad": 22, "carrera": "Arquitectura"}
print(alumno["carrera"])

Arquitectura

Crea un diccionario producto con "nombre":"Laptop", "precio":15000.

Cambia el precio a 14000

Agrega la clave "stock": 20

In [ ]:
producto = {"nombre": "Laptop", "precio": 15000}
producto["precio"] = 14000

producto["stock"] = 20

print(producto)

{'nombre': 'Laptop', 'precio': 14000, 'stock': 20}

De ciudad = {"nombre":"Veracruz","poblacion":600000,"pais":"México"} elimina la clave "pais".

In [ ]:
ciudad = {"nombre":"Veracruz","poblacion":600000,"pais":"México"}

del ciudad["pais"]
print(ciudad)

{'nombre': 'Veracruz', 'poblacion': 600000}

Con persona = {"nombre":"Luis","edad":30}, verifica si la clave "edad" existe.

Imprime "Edad encontrada" si está, o "No existe" si no.

In [ ]:
persona = {"nombre":"Luis","edad":30}

print("edad" in persona)

if "edad" in persona:
    print("Edad encontrada")
else:
    print("No encontrada")

True
Edad encontrada

Con contacto = {"nombre":"Ana","telefono":"1234","email":"ana@mail.com"} recorre e imprime cada par en formato:

nombre → Ana

In [ ]:
contacto = {"nombre":"Ana","telefono":"1234","email":"ana@mail.com"}

for clave in contacto:
    print(clave, "→", contacto[clave])

nombre → Ana
telefono → 1234
email → ana@mail.com

Crea a = {"x":1} y luego b = a. Cambia el valor de "x" desde b y muestra ambos.

Explica qué sucedió.

In [ ]:
a = {"x": 1}
b = a
b["x"] = 99

print(a)
print(b) # # Ambos cambiaron porque son alias del mismo objeto.

{'x': 99}
{'x': 99}

Repite el ejercicio anterior pero usando c = a.copy(). Cambia el valor de "x" en c y muestra ambos.

Explica qué sucedió.

In [ ]:
a = {"x": 1}
c = a.copy()
c["x"] = 99

print(a)
print(c)

{'x': 1}
{'x': 99}

Crea datos = {"nums":[1,2,3]}. Haz copia = datos.copy().

Agrega un número a la lista desde copia.

Muestra ambos y explica por qué cambiaron.

In [ ]:
datos = {"nums": [1, 2, 3]}
copia = datos.copy()
copia["nums"].append(4)
print(datos)  # {'nums': [1, 2, 3, 4]}
print(copia)  # {'nums': [1, 2, 3, 4]}
# Ambos cambian porque la lista interna es compartida.

{'nums': [1, 2, 3, 4]}
{'nums': [1, 2, 3, 4]}

Crea un diccionario usuario con:

"nombre"

"edad"

"contacto" (otro dict con "email" y "telefono")

Accede al email dentro de contacto y muéstralo.

In [ ]:
usuario = {"nombre": "Marcelo", "edad": 61, "contacto": {"email": "marcelo@mail.com", "telefono": "5678"}}

print(usuario["contacto"]["email"])

marcelo@mail.com

Crea un diccionario agenda con 3 contactos. Cada contacto debe tener como clave su nombre, y como valor un diccionario con "telefono" y "email".

Muestra todos los contactos recorriendo el diccionario.

In [ ]:
agenda = {
    "Ana": {"telefono": "1234", "email": "ana@mail.com"},
    "Luis": {"telefono": "5678", "email": "luis@mail.com"},
    "Maria": {"telefono": "9012", "email": "maria@mail.com"}
}
for nombre, info in agenda.items():
    print(nombre, "→", info)

Ana → {'telefono': '1234', 'email': 'ana@mail.com'}
Luis → {'telefono': '5678', 'email': 'luis@mail.com'}
Maria → {'telefono': '9012', 'email': 'maria@mail.com'}



---

# Métodos de diccionarios

Un método es una función propia del diccionario que nos permite interactuar con sus claves y valores de forma más práctica.

Todos estos métodos trabajan directamente sobre el diccionario.

# .get (clave, valor_por_defecto)

Devuelve el valor de una clave.

Si la clave no existe, no da error. Devuelve None o el valor por defecto que especifiques.

In [ ]:
persona = {"nombre": "Ana", "edad": 25}

print(persona.get("nombre"))        # Ana
print(persona.get("profesion"))     # None (clave no existe)
print(persona.get("profesion", "N/A")) # N/A (valor por defecto)

Ana
None
N/A

# .keys()

Devuelve una vista con todas las claves del diccionario.

se comporta como una colección iterable (puedes recorrerla en un for o convertirla en lista)

In [ ]:
print(persona.keys())      # dict_keys(['nombre', 'edad'])
print(list(persona.keys()))# ['nombre', 'edad']

dict_keys(['nombre', 'edad'])
['nombre', 'edad']

#values()

Devuelve una vista con todos los valores.

In [ ]:
print(persona.values())       # dict_values(['Ana', 25])
print(list(persona.values())) # ['Ana', 25]

dict_values(['Ana', 25])
['Ana', 25]

# .items()

Devuelve pares (clave, valor) como tuplas.

Es la forma más usada para recorrer un diccionario completo.

In [ ]:
print(persona.items())
# dict_items([('nombre', 'Ana'), ('edad', 25)])

for clave, valor in persona.items():
    print(clave, "→", valor)

dict_items([('nombre', 'Ana'), ('edad', 25)])
nombre → Ana
edad → 25

# .update(otro_dict)

Actualiza el diccionario con los pares de otro diccionario.

Si la clave ya existe, se sobreescribe; si no, se agrega.

In [ ]:
persona.update({"edad": 26, "profesion": "Dev"})
print(persona)
# {'nombre': 'Ana', 'edad': 26, 'profesion': 'Dev'}

{'nombre': 'Ana', 'edad': 26, 'profesion': 'Dev'}

# pop(clave, valor_por_defecto)

Elimina la clave indicada y devuelve su valor.

Si la clave no existe:
Da KeyError,

A menos que pases un valor por defecto.

In [ ]:
print(persona.pop("profesion"))   # "Dev"
print(persona.pop("ciudad", "N/A")) # "N/A"

Dev
N/A

# popitem()

Elimina y devuelve el último par agregado (clave, valor).

Útil si quieres trabajar con el diccionario como si fuera una pila (LIFO).

In [ ]:
ultimo = persona.popitem()
print(ultimo)   # ('edad', 26)
print(persona)  # {'nombre': 'Ana'}

('edad', 26)
{'nombre': 'Ana'}

# clear()

Vacía el diccionario completamente (lo deja {}).

In [ ]:
persona.clear()
print(persona)  # {}

{}

# copy()

Hace una copia superficial del diccionario (como ya vimos).

Es útil si no quieres modificar el original.

In [ ]:
persona = {"nombre": "Ana", "edad": 25}
copia = persona.copy()

# dic.fromkeys(claves, valor_inicial)

Crea un nuevo diccionario con un conjunto de claves y el mismo valor inicial.

In [ ]:
claves = ["a", "b", "c"]
nuevo = dict.fromkeys(claves, 0)
print(nuevo)  # {'a': 0, 'b': 0, 'c': 0}

{'a': 0, 'b': 0, 'c': 0}

# Un resumen final

.get() - acceso seguro.

.keys(), .values(), .items() - para recorrer.

.update() - agregar/actualizar varias claves.

.pop(), .popitem(), del - eliminar.

.clear() - vaciar todo.

.copy() - clonar superficialmente.

dict.fromkeys() - crear diccionario rápido a partir de una lista de claves.

# Ejemplos guiados

In [ ]:
# Punto de partida
persona = {"nombre": "Ana", "edad": 25}

# 1) get(clave, defecto)
print(persona.get("nombre"))            # 'Ana'
print(persona.get("profesion"))         # None (no existe)
print(persona.get("profesion", "N/A"))  # 'N/A' (valor por defecto)

# 2) keys(), values(), items()
print(list(persona.keys()))    # ['nombre', 'edad']
print(list(persona.values()))  # ['Ana', 25]
print(list(persona.items()))   # [('nombre','Ana'), ('edad',25)]

# 3) update(otro_dict)
persona.update({"edad": 26, "ciudad": "CDMX"})
# {'nombre':'Ana','edad':26,'ciudad':'CDMX'}

# 4) pop(clave, defecto)
valor = persona.pop("ciudad")           # 'CDMX' (y la clave se elimina)
faltante = persona.pop("altura", 0)     # 0 (evita KeyError)
# persona.pop("altura") → KeyError

# 5) popitem()
ultimo_par = persona.popitem()          # elimina y devuelve el último par agregado
# ejemplo: ('edad', 26)

# 6) copy() (copia superficial)
original = {"x": 1, "y": 2}
copia = original.copy()
copia["x"] = 999
# original -> {'x':1,'y':2}; copia -> {'x':999,'y':2}

# 7) clear()
tmp = {"a":1, "b":2}
tmp.clear()  # {}

# 8) dict.fromkeys(claves, valor_inicial)
claves = ["id", "nombre", "activo"]
plantilla = dict.fromkeys(claves, None)
# {'id': None, 'nombre': None, 'activo': None}

Ana
None
N/A
['nombre', 'edad']
['Ana', 25]
[('nombre', 'Ana'), ('edad', 25)]



---

# Ejercicios

Dado usuario = {"nombre": "Luis", "pais": "MX"}, muestra el valor de "edad" usando .get() con valor por defecto 0.

In [ ]:
usuario = {"nombre": "Luis", "pais": "MX"}
print(usuario.get("edad",0))

0

Con producto = {"nombre":"Laptop","precio":15000,"stock":10}:

a) Muestra la lista de claves.

b) Muestra la lista de valores.

c) Recorre items() e imprime clave → valor.

In [ ]:
producto = {"nombre":"Laptop","precio":15000,"stock":10}
print(list(producto.keys()))     # ['nombre','precio','stock']
print(list(producto.values()))   # ['Laptop',15000,10]
for k, v in producto.items():
    print(k, "→", v)

['nombre', 'precio', 'stock']
['Laptop', 15000, 10]
nombre → Laptop
precio → 15000
stock → 10

Parte de perfil = {"usuario":"mike","rol":"viewer"} y actualiza con {"rol":"admin","activo":True}.

In [ ]:
 perfil = {"usuario":"mike","rol":"viewer"}
 perfil.update({"rol":"admin","activo":True})
 print(perfil)

{'usuario': 'mike', 'rol': 'admin', 'activo': True}

Con cfg = {"tema":"oscuro","notificaciones":True}, elimina "tema" devolviendo su valor, y luego intenta eliminar "idioma" devolviendo "es" como valor por defecto.

In [ ]:
cfg = {"tema":"oscuro","notificaciones":True}
v1 = cfg.pop("tema")            # 'oscuro'
v2 = cfg.pop("idioma", "es")    # 'es'
print(v1, v2)                   # oscuro es
print(cfg)                      # {'notificaciones': True}

oscuro es
{'notificaciones': True}

Con d = {"a":1,"b":2,"c":3}, usa popitem() dos veces e imprime lo que devuelve cada llamada y el dict restante.

In [ ]:
d = {"a":1,"b":2,"c":3}
print(d.popitem())  # ('c', 3)
print(d.popitem())  # (('b', 2))

print(d)

('c', 3)
('b', 2)
{'a': 1}

Crea a = {"x":[1,2]}. Luego:

b = a y agrega 3 a la lista en b["x"].

c = a.copy() y agrega 4 a la lista en c["x"]. Muestra a, b, c y comenta qué pasó.

In [ ]:
a = {"x":[1,2]}

b = a               # aliasing (mismo objeto)
b["x"].append(3)

c = a.copy()        # copia superficial (dict nuevo, pero lista compartida)
c["x"].append(4)

print(a)  # {'x':[1,2,3,4]}
print(b)  # {'x':[1,2,3,4]}   (mismo objeto que a)
print(c)  # {'x':[1,2,3,4]}   (dict distinto, pero lista compartida)

# Comentario:
# - b = a → aliasing: apuntan al mismo dict.
# - a.copy() → dict nuevo, pero los valores mutables (la lista) siguen compartidos.
#   Por eso al append en c["x"] también se ve en a.

{'x': [1, 2, 3, 4]}
{'x': [1, 2, 3, 4]}
{'x': [1, 2, 3, 4]}

Con temp = {"k1":1,"k2":2}, vacía el diccionario y muéstralo.

In [ ]:
temp = {"k1":1,"k2":2}
temp.clear()
print(temp)

{}

Crea campos = ["nombre","email","telefono"] y genera un diccionario con None en cada clave usando dict.fromkeys.

Luego asigna "Ana", "ana@mail.com", "1234".

In [ ]:
campos = ["nombre","email","telefono"]
ficha = dict.fromkeys(campos, None)
ficha["nombre"] = "Ana"
ficha["email"] = "ana@mail.com"
ficha["telefono"] = "1234"
print(ficha)
# {'nombre': 'Ana', 'email': 'ana@mail.com', 'telefono': '1234'}

{'nombre': 'Ana', 'email': 'ana@mail.com', 'telefono': '1234'}

Con config = {"modo":"auto"}, realiza:

update con {"modo":"manual","reintentos":3}

Usa get para leer "timeout" con defecto 30.

Elimina "reintentos" con pop devolviendo su valor.

Muestra claves y valores finales.

In [ ]:
config = {"modo":"auto"}
config.update({"modo":"manual","reintentos":3})

print(config)

timeout = config.get("timeout", 30)      # 30
reintentos = config.pop("reintentos")    # 3

print("timeout:", timeout, "| reintentos:", reintentos)
print(list(config.keys()), list(config.values()))
# Claves/valores ejemplo: ['modo'] ['manual']

{'modo': 'manual', 'reintentos': 3}
timeout: 30 | reintentos: 3
['modo'] ['manual']

Con persona = {"nombre":"Ana","edad":25}, imprime "Altura:" seguido del valor de "altura" usando get con defecto "No registrada".

Recorre items() y muestra cada par.

In [ ]:
persona = {"nombre":"Ana","edad":25}
print("Altura:", persona.get("altura", "No registrada"))
for k, v in persona.items():
    print(k, "→", v)

Altura: No registrada
nombre → Ana
edad → 25



---