# Colecciones

En Python, una colección es una estructura de datos que permite almacenar, organizar y manipular múltiples valores dentro de una sola variable.

# Listas (list)

-Ordenadas

-Mutables

-Permiten elementos repetidos

In [ ]:
#           0   1   2   3    (son ordenadas)

numeros = [10, 20, 30, 40]
nombres = ["Ana", "Luis", "Pedro"]
países = ["España", "Francia", "Alemania"]
print(numeros)
print(nombres)

[10, 20, 30, 40]
['Ana', 'Luis', 'Pedro']

# Diccionarios (dict)

In [ ]:
vehiculos = {"marca": "Ford", "año": 2000, "color": "gris"}

-Guardan pares clave–valor

-Mutables.

-No permiten claves repetidas

In [ ]:
alumno = {"nombre": "Ana", "edad": 20, "curso": "Python"}

In [ ]:
alumno = {
    "nombre": "Ana",
    "edad": 20,
    "curso": ["Python", "SQL"]
}

print(alumno)

{'nombre': 'Ana', 'edad': 20, 'curso': ['Python', 'SQL']}

# Conjuntos (set)

Colección no ordenada de elementos únicos

No permite duplicados

Útiles para operaciones matemáticas y de conjuntos

In [ ]:
#         no hay índice
clubes = {"River Plate", "Independiente", "Estudiantes"}

In [ ]:
frutas = {"manzana", "pera", "uva"}

# Tuplas (tuple)

-Ordenadas

-Inmutables (no puedes cambiar sus elementos)

-Permiten repetidos

In [ ]:
numeros = (1, 2, 2, 4, 8)
print("Ejemplo de tupla", numeros)

Ejemplo de tupla (1, 2, 2, 4, 8)

In [ ]:
# Ordenadas    0   1
coordenada = (10, 20)

print(coordenada)

(10, 20)

In [ ]:
registro_anuel_nominas = (2500, 5000, 6000)

print(registro_anuel_nominas)

(2500, 5000, 6000)

Características generales:

-Se pueden recorrer con bucles (for).

-Tienen métodos y funciones útiles (len, min, max, sum, sorted).

-Cada tipo de colección sirve para un propósito distinto:

*Listas. Datos ordenados y cambiantes.

*Diccionarios. Pares clave–valor.

*Conjuntos. Valores únicos.

*Tuplas. Datos que no deben cambiar.



---

# Ejercicios

# Ejercicio 1

In [ ]:
# === LISTAS (list) ===
frutas = ["manzana", "pera", "plátano"]
numeros = [10, 20, 30, 40, 50]
mixta = ["hola", 123, 4.5, True]

# === DICCIONARIOS (dict) ===
persona = {"nombre": "Ana", "edad": 25, "ciudad": "Madrid"}
producto = {"id": 101, "nombre": "Laptop", "precio": 899.99}
vacio = {}  # diccionario vacío

# === CONJUNTOS (set) ===
colores = {"rojo", "verde", "azul"}
numeros_unicos = {1, 2, 3, 3, 2, 1}  # duplicados se eliminan
lenguajes = {"Python", "Java", "C++"}

# === TUPLAS (tuple) ===
coordenadas = (10, 20)
punto3D = (5, -3, 7)
datos = ("Mike", 30, "México")



---

# Listas

Hablemos de listas.


Una lista es una colección ordenada y mutable de elementos.




Esto significa que:

-Ordenada: cada elemento tiene una posición (índice), empezando en 0.

-Mutable: puedes cambiar elementos existentes.

-Heterogénea: puede mezclar distintos tipos de datos (int, str, bool, etc.).

-Permite duplicados: el mismo valor puede aparecer varias veces.

-Úsala cuando necesites una secuencia de datos con orden que sí vas a modificar.

In [ ]:
# Lista vacía
mi_lista = []

# Lista con elementos
frutas = ["manzana", "pera", "plátano"]

# Lista con diferentes tipos de datos
mixta = ["hola", 123, 3.14, True]

# Más ejemplos
vacia = []                                     # lista vacía
frutas = ["manzana", "pera", "plátano"]        # str
mixta = ["hola", 123, 3.14, True]              # tipos mezclados
caracteres = list("hola")                      # convierte a lista de caracteres -> ['h','o','l','a']
repetidos = [0] * 5                            # [0, 0, 0, 0, 0]

Características principales

Índices y accesos:

-Considera que el primer elemento inicia con índice 0.

-El último elemento con índice -1.

Ten cuidado con acceder a una posición que no existe (nums[10] en una lista de 4). Podrías generar un IndexError.

In [ ]:
nums = [10, 20, 30, 40]

nums[0]      # 10  (primer elemento)
nums[1]      # 20
nums[-1]     # 40  (último)
nums[-2]     # 30

30

# Mutabilidad (reemplazo)

Puedes reasignar posiciones existentes.

In [ ]:
numeros[1] = 99
print(numeros)   # [10, 99, 30]

[10, 99, 30, 40, 50]

# Slicing (rebanadas)

lista[inicio:fin:paso]

inicio: índice donde empiezas (incluido).

fin: índice donde paras (excluido: “hasta, pero sin incluir”).

paso: de cuánto en cuánto avanzas (por defecto, 1).

Si omites valores, Python usa por defecto:

inicio = 0, fin = len(lista), paso=1

In [ ]:
letras = ["a","b","c","d","e","f"]

letras[1:4]      # ['b','c','d']   (1,2,3)
letras[:3]       # ['a','b','c']   (desde inicio)
letras[3:]       # ['d','e','f']   (hasta el final)
letras[::2]      # ['a','c','e']   (paso 2)
letras[::-1]     # ['f','e','d','c','b','a'] (invertida)


"""
índice:    0   1   2   3   4   5
valor:    'a' 'b' 'c' 'd' 'e' 'f'
negativos: -6 -5  -4  -3  -2  -1
"""

# Más ejemplos

letras[:3]        # ['a', 'b', 'c']  (desde el inicio hasta 3, sin incluir 3)
letras[2:]        # ['c', 'd', 'e', 'f']  (desde 2 hasta el final)
letras[1:4]       # ['b', 'c', 'd']  (incluye 1, excluye 4)
letras[-3:]       # ['d', 'e', 'f']  (los 3 últimos)
letras[:-2]       # ['a', 'b', 'c', 'd']  (todo menos los 2 últimos)
letras[::2]       # ['a', 'c', 'e']   (paso 2)
letras[::-1]      # ['f', 'e', 'd', 'c', 'b', 'a']

['f', 'e', 'd', 'c', 'b', 'a']

También puedes reemplazar tramos donde se modifica la original.

In [ ]:
nums = [0,1,2,3,4]
nums[1:4] = [10,11,12]

print(nums)   # [0,10,11,12,4]

[0, 10, 11, 12, 4]

# Pertenencia y longitud

in y not in verifican si un elemento está en la lista. len() da cuántos elementos hay.

In [ ]:
colores = ["rojo","verde","azul"]

"verde" in colores     # True
"negro" not in colores # True
len(colores)

"gris" in colores        # 3

False

# Iteración básica (recorrer la lista)

Sin entrar a métodos todavía, puedes leer cada elemento con for.

In [ ]:
nombres = ["Ana","Luis","Marta"]
for nombre in nombres:
    print(nombre)

Ana
Luis
Marta

In [ ]:
colores = ["rojo","verde","azul"]
for color in colores:
    print(color)

rojo
verde
azul

# Asignación = mismo objeto

La asignación es igual al mismo objeto.

En este ejemplo, b = a no copia, solo crea otro nombre para la misma lista.

In [ ]:
a = [1,2,3]
b = a          # b "apunta" a la MISMA lista
b[0] = 99
print(a)       # [99,2,3]  <-- también cambió // la lista es mutable

[99, 2, 3]

# Permiten duplicados y orden importan

Las listas permiten valores repetidos.

Con el orden, [1, 2, 2, 3] es distinto de [2, 1, 2, 3]. Es importante mantenerlo.

La igualdad entre listas (==) compara elemento por elemento, en orden y con cantidad de repetidos.

In [ ]:
nums = [1, 2, 2, 3, 2]

print(2 in nums)           # True  (existe al menos un 2)
print(4 in nums)           # False

print([1,2,2] == [1,2,2])  # True
print([1,2,2] == [2,1,2])  # False (el orden cambia)

# Otro ejemplo
letras = ["a","b","a","c"]
print("a" in letras)       # True
print(letras == ["a","b","a","c"])  # True
print(letras == ["b","a","a","c"])  # False

True
False
True
False
True
True
False

# Iteración básica

Puedes recorrer todos los elementos con for

In [ ]:
nombres = ["Ana","Luis","Marta"]
for nombre in nombres:
    print(nombre)

Ana
Luis
Marta



---

# Ejercicios

Crear una lista llamada países con 4 países. Muestra el primero y el último elemento usando índices.

In [ ]:
países = ["Arg", "Bra", "Col", "Mex"]
print(países[0::3])

['Arg', 'Mex']

Crea una lista de 5 números. Muestra el último y el penúltimo usando índices negativos.

In [ ]:
números = [0,1,3,5,7]
print(números[-1])
print(números[-2])

7
5

Crea una lista colores = ["rojo", "verde", "azul"] y cambia el valor "verde" por "amarillo".

In [ ]:
colores = ["rojo", "verde", "azul"]

colores[1] = "amarillo"

print(colores)

['rojo', 'amarillo', 'azul']

Dada la lista letras = ["a","b","c","d","e","f"], imprime:

Los tres primeros elementos.
Los tres últimos.
Desde la posición 2 hasta la 4 (sin incluir la 4).

In [ ]:
letras = ["a","b","c","d","e","f"]

print(letras[0:3])
print(letras[-3:])
print(letras[2:4])

['a', 'b', 'c']
['d', 'e', 'f']
['c', 'd']

Usa nums = [0,1,2,3,4,5,6,7,8,9] para:

Obtener todos los números pares.
Obtener todos los números impares.
Mostrar la lista en orden inverso.

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]

print(nums[::2])
print(nums[1::2])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

Con la lista animales = ["perro","gato","pez","gato"], verifica si "gato" está en la lista, cuántos elementos tiene en total, y si "loro" no está en la lista.

In [ ]:
animales = ["perro","gato","pez","gato"]
print("gato" in animales)
print(len(animales))
print("loro" not in animales)

True
4
True

Crea una lista nombres = ["Ana","Luis","Marta"] y recórrela con un for para imprimir cada nombre en una línea.

In [ ]:
nombres = ["Ana","Luis","Marta"]
for nombre in nombres:
    print(nombre)

Ana
Luis
Marta

Crea a = [1,2,3]. Luego haz b = a. Cambia b[0] = 100. Muestra a y b.

Como lo hicimos en el ejemplo. Explica qué sucede en un comentario.

In [ ]:
a = [1,2,3] # Creamos una lista
b = a # Asignamos b = a
# Esto no crea una copia
# 'b' y 'a' apuntan a la misma lista.
b[0] = 100 # Cambiamos el primer elemento de b
print(a) # Como 'a' y 'b' son el mismo objeto,
# el cambio se refleja en ambos.
print(b)

[100, 2, 3]
[100, 2, 3]

Dada lista = [1,2,2,3,2,4]:

Verifica si el número 2 está en la lista.
Cuenta cuántas veces aparece el número 2 usando un for.
Crea otra lista [2,1,2,3,2,4] y compárala con lista usando ==.

In [ ]:
lista = [1,2,2,3,2,4]
print(2 in lista)  # True

conteo = 0
for x in lista:
    if x == 2:
        conteo += 1
print(conteo)  # 3

otra = [2,1,2,3,2,4]
print(lista == otra)  # False (el orden importa)

True
3
False



---

# Metodos de listas

# append(x)
Agrega un elemento al final de la lista.

In [ ]:
frutas = ["manzana", "pera"]
frutas.append("plátano")
print(frutas)  # ['manzana', 'pera', 'plátano']

['manzana', 'pera', 'plátano']

# insert(i, x)
Inserta un elemento en una posición específica (desplaza los demás).

In [ ]:
frutas = ["manzana", "pera"]
frutas.insert(1, "plátano")
print(frutas)  # ['manzana','plátano','pera']

['manzana', 'plátano', 'pera']

# extend (iterable)
Agrega varios elementos de otra colección (otra lista, tupla, etc.).

In [ ]:
nums = [1, 2]
nums.extend([3, 4, 5])
print(nums)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

#remove(x)
Elimina la primera ocurrencia de un elemento. Si el valor no existe, genera un ValueError.

In [ ]:
colores = ["rojo","verde","azul","verde"]
colores.remove("verde")
print(colores)  # ['rojo','azul','verde']

['rojo', 'azul', 'verde']

# pop([i])
Elimina y devuelve un elemento.

Sin argumento. Quita el último.
Con índice. Quita en esa posición.

In [ ]:
nums = [10,20,30]
ultimo = nums.pop()
print(ultimo)  # 30
print(nums)    # [10,20]

primero = nums.pop(0)
print(primero) # 10
print(nums)    # [20]

30
[10, 20]
10
[20]

#index(x)
Devuelve el índice de la primera ocurrencia de x.

In [ ]:
letras = ["a","b","c","b"]
print(letras.index("b"))  # 1

1

#count(x)
Cuenta cuántas veces aparece un elemento.

In [ ]:
nums = [1,2,2,3,2]
print(nums.count(2))  # 3

3

#sort()
Ordena la lista misma (in place).

Modifica la original, no devuelve una nueva lista.

Funciona con números, strings (alfabético) y otros tipos comparables.

In [ ]:
nums = [5, 2, 9, 1]
nums.sort()
print(nums)  # [1, 2, 5, 9]  ← ascendente

nums.sort(reverse=True)
print(nums)  # [9, 5, 2, 1]  ← descendente

# Con strings
frutas = ["pera", "manzana", "uva", "plátano"]
frutas.sort()
print(frutas)  # ['manzana','pera','plátano','uva'] (orden alfabético)

frutas.sort(reverse=True)
print(frutas)  # ['uva','plátano','pera','manzana']

# Con key. Ordenar palabras por su longitud
palabras = ["sol", "estrella", "luz", "universo"]
palabras.sort(key=len)
print(palabras)  # ['sol', 'luz', 'estrella', 'universo']

[1, 2, 5, 9]
[9, 5, 2, 1]
['manzana', 'pera', 'plátano', 'uva']
['uva', 'plátano', 'pera', 'manzana']
['sol', 'luz', 'estrella', 'universo']

#reverse()
Invierte el orden de la lista, sin importar si está ordenada o no.

No compara valores, solo voltea el orden existente.

También modifica la original.

In [ ]:
letras = ["a","b","c"]
letras.reverse()
print(letras)  # ['c','b','a']

nums = [10, 20, 30]
nums.reverse()
print(nums)  # [30, 20, 10]

['c', 'b', 'a']
[30, 20, 10]

#clear()
Vacía la lista.

In [ ]:
nums = [1,2,3]
nums.clear()
print(nums)  # []

[]



---

Crea una lista vacía de nombres, agrega dos nombres con append, y luego inserta uno en la primera posición con insert.

In [ ]:
nombres = ["pedro", "Paco"]
nombres.append("Juan")
nombres.insert(0, "Luis")
print(nombres)

['Luis', 'pedro', 'Paco', 'Juan']

Crea una lista con [1,2], y extiéndela con [3,4,5].

In [ ]:
num = [1,2]
num.extend([3,4,5])
print(num)

[1, 2, 3, 4, 5]

Dada colores = ["rojo","verde","azul","verde"], elimina un "verde" con remove.

Luego usa pop() para eliminar y guardar el último color.

In [ ]:
colores = ["rojo","verde","azul","verde"]
colores.remove("verde")
print(colores)

ultimo = colores.pop()
print(ultimo)

['rojo', 'azul', 'verde']
verde

Con letras = ["a","b","c","b","a","b"], muestra el índice de la primera "b".

Luego muestra cuántas veces aparece "b".

In [ ]:
letras = ["a","b","c","b","a","b"]
print(letras.index("b"))
print(letras.count("b"))

1
3

Con nums = [5,1,4,2,3]:

Ordena en forma ascendente.
Ordena en forma descendente.
Invierte el orden actual.

In [ ]:
nums = [5,1,4,2,3]
nums.sort()
print(nums)

nums.sort(reverse=True)
print(nums)

nums.reverse()
print(nums)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

Crea una lista con [10,20,30], luego vacíala y muéstrala.

In [ ]:
nums = [10,20,30]
nums.clear()
print(nums)

[]



---

## Diccionarios (dict)

Un diccionario es una colección mutable de pares clave–valor.

Sirve para asociar un nombre (la clave) con un dato (el valor).jemplo:

Clave: "nombre" - Valor: "Ana"
Clave: "edad" - Valor: 25

Características
Dentro de su formato, son:

-Mutables: puedes agregar, cambiar o eliminar pares.

-Claves únicas: no puede haber dos claves iguales.

-Valores libres: los valores pueden ser de cualquier tipo (número, string, lista, otro dict…).

In [ ]:
# Vacío
vacio = {}

# Con datos
persona = {
    "nombre": "Ana",
    "edad": 25,
    "ciudad": "CDMX"
}

# Claves numéricas también funcionan
puntos = {1: "uno", 2: "dos"}

# Tuplas como clave (siempre que sean inmutables)
coordenada_a_color = {(10, 20): "rojo", (15, 5): "azul"}

Denotemos características:

-Una clave debe ser hashable (inmutable). Esto significa str, int, float, bool, tuple (si sus elementos también son hashables).

-No puedes usar list, dict, o set como clave. Si lo haces, obtendrás un error llamado "unhashable type".

In [ ]:
ok = {"user_1": "Ana", 10: "diez", (1,2): "punto"}
# Mal:
# malo = {[1,2]: "lista"}   # TypeError: unhashable type: 'list'
print(ok)

{'user_1': 'Ana', 10: 'diez', (1, 2): 'punto'}

In [ ]:
malo = {[1,2]: "lista"}

TypeError: unhashable type: 'list'

# Acceso y lectura

-Se accede usando la clave, no índices.

-Si la clave no existe, se generará un KeyError.

-No hay índices posicionales como en listas.

In [ ]:
print(persona["nombre"])  # Ana
print(persona["edad"])    # 25

Ana
25

Un uso seguro podría ser usar el método .get()

In [ ]:
print(persona.get("altura"))        # None
print(persona.get("altura", 0))     # 0 (valor por defecto)

None
0

#Modificación y agregado

-Asignar con una clave agrega o actualiza.

-Si la clave ya está, entonces modificas.

-Si la clave no está, entonces agregas.

-No hay error al agregar. Python simplemente "inventa" la nueva clave.

In [ ]:
persona["edad"] = 26
print(persona)
# {'nombre': 'Ana', 'edad': 26}


persona["profesion"] = "Dev"
print(persona)
# {'nombre': 'Ana', 'edad': 26, 'profesion': 'Dev'}

{'nombre': 'Ana', 'edad': 26, 'ciudad': 'CDMX'}
{'nombre': 'Ana', 'edad': 26, 'ciudad': 'CDMX', 'profesion': 'Dev'}

# Eliminar elementos
La instrucción **del** elimina la clave y su valor del diccionario.

In [ ]:
persona = {"nombre": "Ana", "edad": 25, "ciudad": "CDMX"}

del persona["ciudad"]   # elimina la clave "ciudad"
print(persona)
# {'nombre': 'Ana', 'edad': 25}

{'nombre': 'Ana', 'edad': 25}

Si borras una clave que no existe, recibirás un "KeyError".

Por eso, si no estás seguro de que la clave existe, podrías checar con **if**, combinado con **in**.

In [ ]:
if "altura" in persona:
    del persona["altura"]

print(persona)

{'nombre': 'Ana', 'edad': 25}

También **del** se puede usar sobre la variable completa.

# Membresía y tamaño

-in verifica claves, no valores

-len (dict) da cuántos pares hay

In [ ]:
persona = {"nombre": "Ana", "edad": 2}

print("nombre" in persona)      # True
print("Ana" in persona)         # False (porque busca claves)
print("Ana" in persona.values())# True (así sí busca en valores)
print(len(persona))             # número de pares

True
False
True
2

# Recorrer diccionarios (iteración)

Por defecto, un for sobre el dict recorre claves.

In [ ]:
persona = {"nombre": "Ana", "edad": 25, "ciudad": "CDMX"}

for clave in persona:
    print(clave)                # nombre, edad, profesion

# Clave y valor (forma clara y didáctica)
for clave in persona:
    valor = persona[clave]
    print(clave, "→", valor)

nombre
edad
ciudad
nombre → Ana
edad → 25
ciudad → CDMX

#Recorrer diccionarios (iteración)

Por defecto, un for sobre el dict recorre claves.

In [ ]:
persona = {"nombre": "Ana", "edad": 25, "profesión": "paisajista"}

for clave in persona:
    print(clave)                # nombre, edad, profesion

# Clave y valor (forma clara y didáctica)
for clave in persona:
    valor = persona[clave]
    print(clave, "→", valor)

nombre
edad
profesión
nombre → Ana
edad → 25
profesión → paisajista

# Diccionarios anidados y valores mutables

Los valores pueden ser cualquier cosa, incluidas listas u otros diccionarios.

In [ ]:
alumno = {
    "nombre": "Ana",
    "cursos": ["Python", "Datos"],
    "perfil": {"pais": "MX", "anio": 2025}
}
print(alumno["cursos"][0])        # "Python"
print(alumno["perfil"]["pais"])   # "MX"

Python
MX

Si un valor es mutable (lista, dict), cambiarlo modifica el dict sin reasignar toda la clave.

In [ ]:
alumno["cursos"].append("IA")   # (cuando veas métodos de lista)

print(alumno)

{'nombre': 'Ana', 'cursos': ['Python', 'Datos', 'IA', 'IA'], 'perfil': {'pais': 'MX', 'anio': 2025}}

#Asignación, aliasing y copia

Asignación normal

En este ejemplo, no se crea un nuevo diccionario.

In [ ]:
a = {"x": 1, "y": 2}
b = a

Ambos nombres (a y b) apuntan al mismo objeto en memoria.

Es decir, si cambias uno, cambias ambos.

In [ ]:
b["x"] = 99
print(a)  # {'x': 99, 'y': 2}
print(b)  # {'x': 99, 'y': 2}

{'x': 99, 'y': 2}
{'x': 99, 'y': 2}

Esto se le llama aliasing. Se le llama así a la consecuencia de esa asignación.

Es como tener dos etiquetas para la misma caja.

#Copia superficial

Si quieres realmente otro diccionario distinto, debes copiarlo.

In [ ]:
a = {"x": 1, "y": 2}

c = a.copy()       # usando método copy()
d = dict(a)        # construyendo uno nuevo

c["x"] = 100
print(a)  # {'x': 1, 'y': 2}
print(c)  # {'x': 100, 'y': 2}

{'x': 1, 'y': 2}
{'x': 100, 'y': 2}

Ahora, **c** y **d** son nuevos diccionarios con los mismos pares.

Si modificas **c**, no afecta a **a**.

Esto se le conoce como copia superficial o "shallow copy".

#¿Cuándo usar diccionarios?

Cuando tus datos tienen etiquetas naturales: "nombre", "precio", "id", "email".

Cuando necesitas buscar rápido por clave (consulta directa).

Cuando modelas entidades o registros (usuario, producto, configuración).

**Ejemplos**

In [ ]:
# Crear un diccionario
persona = {"nombre": "Ana", "edad": 25}
print(persona)  # {'nombre': 'Ana', 'edad': 25}

# Acceder por clave
print(persona["nombre"])  # Ana
# print(persona["ciudad"])  # KeyError, no existe

# Acceso seguro
print(persona.get("ciudad", "No disponible"))  # No disponible

# Modificar un valor existente
persona["edad"] = 26
print(persona)  # {'nombre': 'Ana', 'edad': 26}

# Agregar una nueva clave
persona["ciudad"] = "CDMX"
print(persona)  # {'nombre': 'Ana', 'edad': 26, 'ciudad': 'CDMX'}

# Eliminar una clave existente
del persona["ciudad"]
print(persona)  # {'nombre': 'Ana', 'edad': 26}

# Verificar pertenencia
print("nombre" in persona)  # True (clave existe)
print("Ana" in persona)     # False (busca clave, no valor)

# Tamaño
print(len(persona))  # 2 pares

# Iterar
for clave in persona:
    print(clave, "→", persona[clave])

# Alias (asignación normal)
a = {"x": 1}
b = a
b["x"] = 99
print(a)  # {'x': 99}  → aliasing

# Copia superficial
c = a.copy()
c["x"] = 100
print(a)  # {'x': 99}
print(c)  # {'x': 100}

# Diccionario anidado
usuario = {
    "nombre": "Mike",
    "contacto": {"email": "mike@mail.com", "tel": "1234"}
}
print(usuario["contacto"]["email"])  # mike@mail.com

{'nombre': 'Ana', 'edad': 25}
Ana
No disponible
{'nombre': 'Ana', 'edad': 26}
{'nombre': 'Ana', 'edad': 26, 'ciudad': 'CDMX'}
{'nombre': 'Ana', 'edad': 26}
True
False
2
nombre → Ana
edad → 26
{'x': 99}
{'x': 99}
{'x': 100}
mike@mail.com



---

# Ejercicios

Crea un diccionario alumno con un nombre, edad y carrera. Imprime solo la carrera.

In [ ]:
alumno = {"nombre": "Santiago", "edad": 22, "carrera": "Arquitectura"}
print(alumno["carrera"])

Arquitectura

Crea un diccionario producto con "nombre":"Laptop", "precio":15000.

Cambia el precio a 14000

Agrega la clave "stock": 20

In [ ]:
producto = {"nombre": "Laptop", "precio": 15000}
producto["precio"] = 14000

producto["stock"] = 20

print(producto)

{'nombre': 'Laptop', 'precio': 14000, 'stock': 20}

De ciudad = {"nombre":"Veracruz","poblacion":600000,"pais":"México"} elimina la clave "pais".

In [ ]:
ciudad = {"nombre":"Veracruz","poblacion":600000,"pais":"México"}

del ciudad["pais"]
print(ciudad)

{'nombre': 'Veracruz', 'poblacion': 600000}

Con persona = {"nombre":"Luis","edad":30}, verifica si la clave "edad" existe.

Imprime "Edad encontrada" si está, o "No existe" si no.

In [ ]:
persona = {"nombre":"Luis","edad":30}

print("edad" in persona)

if "edad" in persona:
    print("Edad encontrada")
else:
    print("No encontrada")

True
Edad encontrada

Con contacto = {"nombre":"Ana","telefono":"1234","email":"ana@mail.com"} recorre e imprime cada par en formato:

nombre → Ana

In [ ]:
contacto = {"nombre":"Ana","telefono":"1234","email":"ana@mail.com"}

for clave in contacto:
    print(clave, "→", contacto[clave])

nombre → Ana
telefono → 1234
email → ana@mail.com

Crea a = {"x":1} y luego b = a. Cambia el valor de "x" desde b y muestra ambos.

Explica qué sucedió.

In [ ]:
a = {"x": 1}
b = a
b["x"] = 99

print(a)
print(b) # # Ambos cambiaron porque son alias del mismo objeto.

{'x': 99}
{'x': 99}

Repite el ejercicio anterior pero usando c = a.copy(). Cambia el valor de "x" en c y muestra ambos.

Explica qué sucedió.

In [ ]:
a = {"x": 1}
c = a.copy()
c["x"] = 99

print(a)
print(c)

{'x': 1}
{'x': 99}

Crea datos = {"nums":[1,2,3]}. Haz copia = datos.copy().

Agrega un número a la lista desde copia.

Muestra ambos y explica por qué cambiaron.

In [ ]:
datos = {"nums": [1, 2, 3]}
copia = datos.copy()
copia["nums"].append(4)
print(datos)  # {'nums': [1, 2, 3, 4]}
print(copia)  # {'nums': [1, 2, 3, 4]}
# Ambos cambian porque la lista interna es compartida.

{'nums': [1, 2, 3, 4]}
{'nums': [1, 2, 3, 4]}

Crea un diccionario usuario con:

"nombre"

"edad"

"contacto" (otro dict con "email" y "telefono")

Accede al email dentro de contacto y muéstralo.

In [ ]:
usuario = {"nombre": "Marcelo", "edad": 61, "contacto": {"email": "marcelo@mail.com", "telefono": "5678"}}

print(usuario["contacto"]["email"])

marcelo@mail.com

Crea un diccionario agenda con 3 contactos. Cada contacto debe tener como clave su nombre, y como valor un diccionario con "telefono" y "email".

Muestra todos los contactos recorriendo el diccionario.

In [ ]:
agenda = {
    "Ana": {"telefono": "1234", "email": "ana@mail.com"},
    "Luis": {"telefono": "5678", "email": "luis@mail.com"},
    "Maria": {"telefono": "9012", "email": "maria@mail.com"}
}
for nombre, info in agenda.items():
    print(nombre, "→", info)

Ana → {'telefono': '1234', 'email': 'ana@mail.com'}
Luis → {'telefono': '5678', 'email': 'luis@mail.com'}
Maria → {'telefono': '9012', 'email': 'maria@mail.com'}



---

# Métodos de diccionarios

Un método es una función propia del diccionario que nos permite interactuar con sus claves y valores de forma más práctica.

Todos estos métodos trabajan directamente sobre el diccionario.

# .get (clave, valor_por_defecto)

Devuelve el valor de una clave.

Si la clave no existe, no da error. Devuelve None o el valor por defecto que especifiques.

In [ ]:
persona = {"nombre": "Ana", "edad": 25}

print(persona.get("nombre"))        # Ana
print(persona.get("profesion"))     # None (clave no existe)
print(persona.get("profesion", "N/A")) # N/A (valor por defecto)

Ana
None
N/A

# .keys()

Devuelve una vista con todas las claves del diccionario.

se comporta como una colección iterable (puedes recorrerla en un for o convertirla en lista)

In [ ]:
print(persona.keys())      # dict_keys(['nombre', 'edad'])
print(list(persona.keys()))# ['nombre', 'edad']

dict_keys(['nombre', 'edad'])
['nombre', 'edad']

#values()

Devuelve una vista con todos los valores.

In [ ]:
print(persona.values())       # dict_values(['Ana', 25])
print(list(persona.values())) # ['Ana', 25]

dict_values(['Ana', 25])
['Ana', 25]

# .items()

Devuelve pares (clave, valor) como tuplas.

Es la forma más usada para recorrer un diccionario completo.

In [ ]:
print(persona.items())
# dict_items([('nombre', 'Ana'), ('edad', 25)])

for clave, valor in persona.items():
    print(clave, "→", valor)

dict_items([('nombre', 'Ana'), ('edad', 25)])
nombre → Ana
edad → 25

# .update(otro_dict)

Actualiza el diccionario con los pares de otro diccionario.

Si la clave ya existe, se sobreescribe; si no, se agrega.

In [ ]:
persona.update({"edad": 26, "profesion": "Dev"})
print(persona)
# {'nombre': 'Ana', 'edad': 26, 'profesion': 'Dev'}

{'nombre': 'Ana', 'edad': 26, 'profesion': 'Dev'}

# pop(clave, valor_por_defecto)

Elimina la clave indicada y devuelve su valor.

Si la clave no existe:
Da KeyError,

A menos que pases un valor por defecto.

In [ ]:
print(persona.pop("profesion"))   # "Dev"
print(persona.pop("ciudad", "N/A")) # "N/A"

Dev
N/A

# popitem()

Elimina y devuelve el último par agregado (clave, valor).

Útil si quieres trabajar con el diccionario como si fuera una pila (LIFO).

In [ ]:
ultimo = persona.popitem()
print(ultimo)   # ('edad', 26)
print(persona)  # {'nombre': 'Ana'}

('edad', 26)
{'nombre': 'Ana'}

# clear()

Vacía el diccionario completamente (lo deja {}).

In [ ]:
persona.clear()
print(persona)  # {}

{}

# copy()

Hace una copia superficial del diccionario (como ya vimos).

Es útil si no quieres modificar el original.

In [ ]:
persona = {"nombre": "Ana", "edad": 25}
copia = persona.copy()

# dic.fromkeys(claves, valor_inicial)

Crea un nuevo diccionario con un conjunto de claves y el mismo valor inicial.

In [ ]:
claves = ["a", "b", "c"]
nuevo = dict.fromkeys(claves, 0)
print(nuevo)  # {'a': 0, 'b': 0, 'c': 0}

{'a': 0, 'b': 0, 'c': 0}

# Un resumen final

.get() - acceso seguro.

.keys(), .values(), .items() - para recorrer.

.update() - agregar/actualizar varias claves.

.pop(), .popitem(), del - eliminar.

.clear() - vaciar todo.

.copy() - clonar superficialmente.

dict.fromkeys() - crear diccionario rápido a partir de una lista de claves.

# Ejemplos guiados

In [ ]:
# Punto de partida
persona = {"nombre": "Ana", "edad": 25}

# 1) get(clave, defecto)
print(persona.get("nombre"))            # 'Ana'
print(persona.get("profesion"))         # None (no existe)
print(persona.get("profesion", "N/A"))  # 'N/A' (valor por defecto)

# 2) keys(), values(), items()
print(list(persona.keys()))    # ['nombre', 'edad']
print(list(persona.values()))  # ['Ana', 25]
print(list(persona.items()))   # [('nombre','Ana'), ('edad',25)]

# 3) update(otro_dict)
persona.update({"edad": 26, "ciudad": "CDMX"})
# {'nombre':'Ana','edad':26,'ciudad':'CDMX'}

# 4) pop(clave, defecto)
valor = persona.pop("ciudad")           # 'CDMX' (y la clave se elimina)
faltante = persona.pop("altura", 0)     # 0 (evita KeyError)
# persona.pop("altura") → KeyError

# 5) popitem()
ultimo_par = persona.popitem()          # elimina y devuelve el último par agregado
# ejemplo: ('edad', 26)

# 6) copy() (copia superficial)
original = {"x": 1, "y": 2}
copia = original.copy()
copia["x"] = 999
# original -> {'x':1,'y':2}; copia -> {'x':999,'y':2}

# 7) clear()
tmp = {"a":1, "b":2}
tmp.clear()  # {}

# 8) dict.fromkeys(claves, valor_inicial)
claves = ["id", "nombre", "activo"]
plantilla = dict.fromkeys(claves, None)
# {'id': None, 'nombre': None, 'activo': None}

Ana
None
N/A
['nombre', 'edad']
['Ana', 25]
[('nombre', 'Ana'), ('edad', 25)]



---

# Ejercicios

Dado usuario = {"nombre": "Luis", "pais": "MX"}, muestra el valor de "edad" usando .get() con valor por defecto 0.

In [ ]:
usuario = {"nombre": "Luis", "pais": "MX"}
print(usuario.get("edad",0))

0

Con producto = {"nombre":"Laptop","precio":15000,"stock":10}:

a) Muestra la lista de claves.

b) Muestra la lista de valores.

c) Recorre items() e imprime clave → valor.

In [ ]:
producto = {"nombre":"Laptop","precio":15000,"stock":10}
print(list(producto.keys()))     # ['nombre','precio','stock']
print(list(producto.values()))   # ['Laptop',15000,10]
for k, v in producto.items():
    print(k, "→", v)

['nombre', 'precio', 'stock']
['Laptop', 15000, 10]
nombre → Laptop
precio → 15000
stock → 10

Parte de perfil = {"usuario":"mike","rol":"viewer"} y actualiza con {"rol":"admin","activo":True}.

In [ ]:
 perfil = {"usuario":"mike","rol":"viewer"}
 perfil.update({"rol":"admin","activo":True})
 print(perfil)

{'usuario': 'mike', 'rol': 'admin', 'activo': True}

Con cfg = {"tema":"oscuro","notificaciones":True}, elimina "tema" devolviendo su valor, y luego intenta eliminar "idioma" devolviendo "es" como valor por defecto.

In [ ]:
cfg = {"tema":"oscuro","notificaciones":True}
v1 = cfg.pop("tema")            # 'oscuro'
v2 = cfg.pop("idioma", "es")    # 'es'
print(v1, v2)                   # oscuro es
print(cfg)                      # {'notificaciones': True}

oscuro es
{'notificaciones': True}

Con d = {"a":1,"b":2,"c":3}, usa popitem() dos veces e imprime lo que devuelve cada llamada y el dict restante.

In [ ]:
d = {"a":1,"b":2,"c":3}
print(d.popitem())  # ('c', 3)
print(d.popitem())  # (('b', 2))

print(d)

('c', 3)
('b', 2)
{'a': 1}

Crea a = {"x":[1,2]}. Luego:

b = a y agrega 3 a la lista en b["x"].

c = a.copy() y agrega 4 a la lista en c["x"]. Muestra a, b, c y comenta qué pasó.

In [ ]:
a = {"x":[1,2]}

b = a               # aliasing (mismo objeto)
b["x"].append(3)

c = a.copy()        # copia superficial (dict nuevo, pero lista compartida)
c["x"].append(4)

print(a)  # {'x':[1,2,3,4]}
print(b)  # {'x':[1,2,3,4]}   (mismo objeto que a)
print(c)  # {'x':[1,2,3,4]}   (dict distinto, pero lista compartida)

# Comentario:
# - b = a → aliasing: apuntan al mismo dict.
# - a.copy() → dict nuevo, pero los valores mutables (la lista) siguen compartidos.
#   Por eso al append en c["x"] también se ve en a.

{'x': [1, 2, 3, 4]}
{'x': [1, 2, 3, 4]}
{'x': [1, 2, 3, 4]}

Con temp = {"k1":1,"k2":2}, vacía el diccionario y muéstralo.

In [ ]:
temp = {"k1":1,"k2":2}
temp.clear()
print(temp)

{}

Crea campos = ["nombre","email","telefono"] y genera un diccionario con None en cada clave usando dict.fromkeys.

Luego asigna "Ana", "ana@mail.com", "1234".

In [ ]:
campos = ["nombre","email","telefono"]
ficha = dict.fromkeys(campos, None)
ficha["nombre"] = "Ana"
ficha["email"] = "ana@mail.com"
ficha["telefono"] = "1234"
print(ficha)
# {'nombre': 'Ana', 'email': 'ana@mail.com', 'telefono': '1234'}

{'nombre': 'Ana', 'email': 'ana@mail.com', 'telefono': '1234'}

Con config = {"modo":"auto"}, realiza:

update con {"modo":"manual","reintentos":3}

Usa get para leer "timeout" con defecto 30.

Elimina "reintentos" con pop devolviendo su valor.

Muestra claves y valores finales.

In [ ]:
config = {"modo":"auto"}
config.update({"modo":"manual","reintentos":3})

print(config)

timeout = config.get("timeout", 30)      # 30
reintentos = config.pop("reintentos")    # 3

print("timeout:", timeout, "| reintentos:", reintentos)
print(list(config.keys()), list(config.values()))
# Claves/valores ejemplo: ['modo'] ['manual']

{'modo': 'manual', 'reintentos': 3}
timeout: 30 | reintentos: 3
['modo'] ['manual']

Con persona = {"nombre":"Ana","edad":25}, imprime "Altura:" seguido del valor de "altura" usando get con defecto "No registrada".

Recorre items() y muestra cada par.

In [1]:
persona = {"nombre":"Ana","edad":25}
print("Altura:", persona.get("altura", "No registrada"))
for k, v in persona.items():
    print(k, "→", v)

Altura: No registrada
nombre → Ana
edad → 25



---

# Conjuntos (set)

Un set o conjunto es una colección desordenada, mutable y sin elementos duplicados

Se parece a los conjuntos en matemáticas: {1,2,3}.

# Sintaxis

Puedes crear un set con llaves {} o con set().

In [2]:
vacio = set()          # set vacío
frutas = {"manzana", "pera", "uva"}
print(type(frutas))    # <class 'set'>

<class 'set'>

Veamos más ejemplos con mezclas de tipos de datos.

In [3]:
# 1. Set con enteros
numeros = {1, 2, 3, 4}
print(numeros)

# 2. Set con cadenas
animales = {"perro", "gato", "ave"}
print(animales)

# 3. Set mixto (distintos tipos)
mixto = {"hola", 42, 3.14, True}
print(mixto)

# 4. Eliminar duplicados automáticamente
valores = {1, 2, 2, 3, 3, 3}
print(valores)  # {1, 2, 3}

{1, 2, 3, 4}
{'ave', 'perro', 'gato'}
{'hola', True, 42, 3.14}
{1, 2, 3}

# Características principales

1-No permiten duplicados

Si agregas el mismo valor dos veces, solo se guarda una copia.

In [4]:
numeros = {1, 2, 2, 3}
print(numeros)  # {1, 2, 3}

{1, 2, 3}

2-No tienen orden fijo

A diferencia de listas, no puedes acceder con índices.

El orden al imprimir puede variar.

In [5]:
colores = {"rojo", "verde", "azul"}
print(colores)  # {'verde', 'rojo', 'azul'}  (orden no garantizado)

{'rojo', 'azul', 'verde'}

3-Son mutables

Puedes agregar y eliminar elementos después de crearlo.

Pero las claves internas deben ser inmutables (int, str, float, tuple).

4-Pueden mezclar tipos

Puedes tener enteros, strings, etc. en un mismo set.

In [6]:
mezcla = {1, "hola", True}
print(mezcla)  # {1, 'hola', True}

{1, 'hola'}

## Casos de uso

-Representar colecciones sin duplicados (usuarios únicos, emails únicos, etc.).

-Comparar datos con la lógica de conjuntos en matemáticas (intersección, unión, diferencia).

-Limpiar listas de valores repetidos convirtiéndolas en un set.

In [7]:
lista = [1, 1, 2, 3, 3, 4]
unicos = set(lista)
print(unicos)  # {1, 2, 3, 4}

{1, 2, 3, 4}

## Ejemplos guiados

In [8]:
# 1. Crear sets
vacio = set()                  # Set vacío
frutas = {"manzana", "pera"}   # Set con cadenas
numeros = {1, 2, 3, 4}         # Set con enteros

# 2. No hay duplicados
valores = {1, 2, 2, 3}
print(valores)  # {1, 2, 3}

# 3. No hay orden fijo
colores = {"rojo", "verde", "azul"}
print(colores)  # Puede salir {'azul','rojo','verde'}

# 4. Mezcla de tipos
mixto = {"hola", 42, 3.14, True}
print(mixto)

# 5. Verificar pertenencia
print("pera" in frutas)    # True
print("uva" not in frutas) # True

# 6. Cuidado: {} crea un diccionario, no un set
ejemplo = {}
print(type(ejemplo))       # <class 'dict'>

{1, 2, 3}
{'rojo', 'azul', 'verde'}
{3.14, True, 42, 'hola'}
True
True
<class 'dict'>

# Ejercicios

Crea un set vacío llamado mis_datos y muestra su tipo.

In [9]:
mis_datos = set()
print(type(mis_datos))

<class 'set'>

Crea un set con los valores {1,1,2,3,3,4} y muestra el resultado.

In [10]:
valores = {1,1,2,3,3,4}
print(valores)

{1, 2, 3, 4}

Crea un set que contenga tu nombre, tu edad y el valor True.

In [11]:
marcelo = {"Marcelo", 61, True}
print(marcelo)

{True, 'Marcelo', 61}

Dado frutas = {"manzana", "pera", "uva"}, verifica si "pera" está en el set y si "naranja" no está en el set.

In [12]:
frutas = {"manzana", "pera", "uva"}
print("pera" in frutas)
print("naranja" not in frutas)

True
True

Crea un set con los valores "a", "b", "c", "d". Imprímelo tres veces seguidas y observa el orden.

In [15]:
valores = {"a", "b", "c", "d"}
print(valores)
print(valores)
print(valores)

{'c', 'b', 'a', 'd'}
{'c', 'b', 'a', 'd'}
{'c', 'b', 'a', 'd'}

Dada la lista [1,1,2,3,3,4,5,5], conviértela en un set y muestra el resultado.

In [16]:
lista = [1,1,2,3,3,4,5,5]
conjunto = set(lista)
print(conjunto)

{1, 2, 3, 4, 5}

Intenta crear un set con una lista dentro: {[1,2,3], 4, 5} y observa el error que ocurre.

In [17]:
set = {[1,2,3], 4, 5}

TypeError: unhashable type: 'list'



---

# Métodos de conjuntos

Un set no tiene orden y no admite duplicados, pero sí es mutable, por lo que podemos agregar, eliminar y operar con sus elementos mediante métodos.

## Métodos que veremos

Modificar contenido:.add(), .remove(), .discard(), .pop(), .clear().

Actualización en lugar:.update(), .intersection_update(), .difference_update(), .symmetric_difference_update().

Operaciones matemáticas:.union(), .intersection(), .difference(), .symmetric_difference().

Comparación:.issubset(), .issuperset(), .isdisjoint().

*No debes memorizartelos. Solo debes entender por qué existen. Cuando comencemos con problemas más complejos, siempre podrás regresar a ver cuál es el mejor método para la situación.*

# Modificar contenido

## .add(elemento)

Agrega un elemento al set.

Si ya existe, no pasa nada (no duplica).

In [18]:
frutas = {"manzana", "pera"}
frutas.add("uva")
print(frutas)  # {'pera', 'uva', 'manzana'}

{'manzana', 'uva', 'pera'}

## .discard(elemento)

Elimina un elemento, pero no da error si no existe.

In [19]:
frutas.discard("mango")  # no pasa nada

In [21]:
frutas.discard("uva")
print(frutas)

{'manzana', 'pera'}

## .pop()

Elimina y devuelve un elemento aleatorio (porque los sets no tienen orden).

Úsalo solo si no importa qué elemento se elimina.

In [22]:
colores = {"rojo", "verde", "azul"}
print(colores.pop())  # elimina un elemento arbitrario

rojo

# .clear()

Elimina todos los elementos, dejando el set vacío.

In [23]:
colores.clear()
print(colores)  # set()

set()

## Actualización en lugar

## .update(otro_set)

Agrega al set actual los elementos de otro.

In [24]:
a = {1,2,3}
a.update({3,4,5})
print(a)  # {1,2,3,4,5}

{1, 2, 3, 4, 5}

## .intersectionupdate(otro_set)

Mantiene solo los elementos comunes.

In [25]:
a = {1,2,3}
a.intersection_update({2,3,4})
print(a)  # {2,3}

{2, 3}

## .differenceupdate(otro_set)

Elimina del set actual los elementos que estén en el otro.

In [26]:
a = {1,2,3}
a.difference_update({3})
print(a)  # {1,2}

{1, 2}

## .symmetricdifferenceupdate(otro_set)

Mantiene solo los elementos que están en uno u otro, pero no en ambos.

In [27]:
a = {1,2,3}
a.symmetric_difference_update({3,4})
print(a)  # {1,2,4}

{1, 2, 4}

# Operaciones matemáticas

Los sets en Python soportan operaciones como en matemáticas.

## .union(otro_set) o |

Devuelve un nuevo set con los elementos de ambos

In [28]:
a = {1,2,3}
b = {3,4,5}
print(a.union(b))  # {1,2,3,4,5}
print(a | b)       # {1,2,3,4,5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

##.intersection(otro_set) o &

Devuelve un nuevo set con los elementos que tienen en común.

In [29]:
print(a.intersection(b))  # {3}
print(a & b)              # {3}

{3}
{3}

## .difference(otro_set) o -

Devuelve un set con los elementos que están en a pero no en b.

In [30]:
print(a.difference(b))  # {1,2}
print(a - b)            # {1,2}

{1, 2}
{1, 2}

## .simmetricdifference(otro_set) o
^

In [31]:
print(a.symmetric_difference(b))  # {1,2,4,5}
print(a ^ b)                      # {1,2,4,5}

{1, 2, 4, 5}
{1, 2, 4, 5}

# Comparación

## .issubset(otro_set)

Un set es subconjunto de otro si todos sus elementos están dentro del otro.

Devuelve True si todos los elementos de un set están dentro de otro.

"¿Soy parte de ti?"

In [32]:
a = {1, 2}
b = {1, 2, 3, 4}

print(a.issubset(b))  # True, porque 1 y 2 están en b
print(b.issubset(a))  # False, b tiene elementos extra (3 y 4)

True
False

# .issuperset(otro_set)

Un set es superconjunto de otro si contiene todos los elementos del otro.

Devuelve True si el set contiene a todos los elementos del otro.

"¿Tú eres parte de mí"

In [33]:
a = {1, 2, 3, 4}
b = {2, 3}

print(a.issuperset(b))  # True, porque a contiene todo lo que tiene b
print(b.issuperset(a))  # False, b no contiene a

True
False

## .isdisjoint(otro_set)

Dos sets son disjuntos si no tienen ningún elemento en común.

"¿No tenemos nada en común?"

In [34]:
x = {1, 2}
y = {3, 4}
z = {2, 5}

print(x.isdisjoint(y))  # True, no comparten nada
print(x.isdisjoint(z))  # False, ambos tienen el 2

True
False

# Resumen con ejemplos guiados

## Modificar contenido

In [35]:
frutas = {"manzana", "pera"}

# .add()
frutas.add("uva")
print(frutas)  # {'manzana', 'pera', 'uva'}

# .remove()
frutas.remove("pera")
print(frutas)  # {'manzana', 'uva'}
# frutas.remove("mango")  # KeyError

# .discard()
frutas.discard("mango")  # no da error
print(frutas)  # {'manzana', 'uva'}

# .pop()
elemento = frutas.pop()
print(elemento)  # elimina y devuelve un elemento aleatorio
print(frutas)

# .clear()
frutas.clear()
print(frutas)  # set()

{'manzana', 'uva', 'pera'}
{'manzana', 'uva'}
{'manzana', 'uva'}
manzana
{'uva'}
set()

## Actualización en lugar (modifican el set actual)

In [36]:
a = {1, 2, 3}
b = {3, 4, 5}

# .update()
a.update(b)
print(a)  # {1, 2, 3, 4, 5}

# .intersection_update()
a = {1, 2, 3}
a.intersection_update({2, 3, 4})
print(a)  # {2, 3}

# .difference_update()
a = {1, 2, 3}
a.difference_update({3})
print(a)  # {1, 2}

# .symmetric_difference_update()
a = {1, 2, 3}
a.symmetric_difference_update({3, 4})
print(a)  # {1, 2, 4}

{1, 2, 3, 4, 5}
{2, 3}
{1, 2}
{1, 2, 4}

## Operaciones matemáticas (devuelven nuevo set)

In [37]:
a = {1, 2, 3}
b = {3, 4, 5}

# .union()
print(a.union(b))  # {1, 2, 3, 4, 5}
print(a | b)       # {1, 2, 3, 4, 5}

# .intersection()
print(a.intersection(b))  # {3}
print(a & b)              # {3}

# .difference()
print(a.difference(b))  # {1, 2}
print(a - b)            # {1, 2}

# .symmetric_difference()
print(a.symmetric_difference(b))  # {1, 2, 4, 5}
print(a ^ b)                      # {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}

## Comparación

In [38]:
# .issubset()
a = {1, 2}
b = {1, 2, 3, 4}
print(a.issubset(b))  # True → ¿Soy parte de ti?

# .issuperset()
print(b.issuperset(a))  # True → ¿Tú eres parte de mí?

# .isdisjoint()
x = {1, 2}
y = {3, 4}
print(x.isdisjoint(y))  # True → ¿No tenemos nada en común?

True
True
True



---

# Ejercicios

## Ejercicio 1 - add

Tienes un set llamado frutas = {"manzana", "pera"}.

Agrega un nuevo elemento "uva" usando el método .add().

Al final, imprime el set para confirmar que ahora contiene tres frutas.

In [39]:
frutas = {"manzana", "pera"}
frutas.add("uva")
print(frutas)

{'manzana', 'uva', 'pera'}

## Ejercicio 2 - remove vs discard

Crea un set colores = {"rojo", "verde", "azul"}.

Primero elimina "verde" usando .remove().

Después intenta eliminar "negro" usando .discard().

Imprime el set final y observa la diferencia entre ambos métodos (uno da error si no existe, el otro no).

In [45]:
colores = {"rojo", "verde", "azul"}
colores.remove("verde")
print(colores)
colores.discard("negro") # .remove da error si no existe

{'rojo', 'azul'}

# Ejercicio 3 - pop

Crea un set letras = {"a","b","c","d"}.

Usa .pop() para quitar un elemento.

Muestra qué valor devolvió .pop() y luego imprime cómo quedó el set después de la operación.

In [46]:
letras = {"a","b","c","d"}
quitado = letras.pop()
print("Quitado:", quitado)
print("Queda:", letras)

# Quitado: a            # (puede ser cualquiera: 'a','b','c','d')
# Queda: {'b','c','d'}  # o el resto según cuál se quitó

Quitado: c
Queda: {'b', 'a', 'd'}

## Ejercicio 4 - clear

Crea un set nums = {1,2,3}.

Vacía completamente el set usando .clear().

Imprime el resultado y verifica que quedó como set() (un set vacío).

In [47]:
nums = {1,2,3}
nums.clear()
print(nums)

set()

## Ejercicio 5 - update

Crea a = {1,2,3} y b = {3,4,5}.

Usa .update() para agregar los elementos de b dentro de a.

Imprime a y confirma que ahora tiene los números {1,2,3,4,5}.

In [48]:
a = {1,2,3}
b = {3,4,5}
a.update(b)
print(a)

# {1,2,3,4,5}

{1, 2, 3, 4, 5}

## Ejercicio 6 - intersection_update

Crea a = {1,2,3,4} y b = {3,4,5}.

Usa .intersection_update() para que en a solo se mantengan los elementos que están en ambos sets.

Imprime a y observa cómo cambió.

In [49]:
a = {1,2,3,4}
b = {3,4,5}
a.intersection_update(b)
print(a)

# {3,4}

{3, 4}

## Ejercicio 7 - difference_update

Crea a = {1,2,3,4}.

Usa .difference_update({2,5}) para eliminar de a todos los elementos que estén en el set {2,5}.

Imprime a y analiza por qué desaparece el 2 pero no el 5.

In [50]:
a = {1,2,3,4}
a.difference_update({2,5})
print(a)

# {1,3,4}
# Se eliminó el 2 porque sí estaba en a.
# El 5 no estaba, así que no hubo cambios en esa parte.

{1, 3, 4}

## Ejercicio 8 - symmetric_difference_update

Crea a = {1,2,3} y b = {3,4}.

Usa .symmetric_difference_update(b) para que a se transforme en los elementos que están en uno u otro set, pero no en ambos al mismo tiempo.

Imprime el nuevo valor de a.

In [51]:
a = {1,2,3}
b = {3,4}
a.symmetric_difference_update(b)
print(a)

# {1,2,4}
# Se quitó el 3 porque estaba en ambos y se unieron el resto

{1, 2, 4}

## Ejercicio 9 - union

Crea x = {1,2} y y = {2,3,4}.

Genera un nuevo set u con la unión de x e y usando .union().

Luego prueba el operador | para obtener lo mismo.

Imprime el resultado en ambos casos.

In [52]:
x = {1,2}
y = {2,3,4}
u = x.union(y)
print(u)
print(x | y)

# {1,2,3,4}
# {1,2,3,4}
# La unión incluye todos los elementos de ambos sets.

{1, 2, 3, 4}
{1, 2, 3, 4}

## Ejercicio 10 - intersection

Usa los mismos sets x e y.

Crea un nuevo set i con los elementos que están en ambos usando .intersection().

Luego prueba el operador &.

Imprime el resultado.

In [53]:
x = {1,2}
y = {2,3,4}
i = x.intersection(y)
print(i)
print(x & y)


# {2}
# {2}
# La intersección devuelve solo el valor que comparten (2).

{2}
{2}

## Ejercicio 11 - difference

Con los sets x e y, crea dos nuevos sets:

d1 = x - y (lo que está en x pero no en y).

d2 = y - x (lo que está en y pero no en x). Imprime ambos y observa la diferencia.

In [54]:
x = {1,2}
y = {2,3,4}
d1 = x - y
d2 = y - x
print(d1)
print(d2)

# {1}
# {3,4}

# x - y → lo que está en x pero no en y.
# y - x → lo que está en y pero no en x.

{1}
{3, 4}

## Ejercicio 12 - symmetric_difference

Con los sets x e y, crea un nuevo set sd con la diferencia simétrica, es decir, los elementos que están en uno u otro, pero no en ambos.

Prueba también con el operador ^.

Imprime el resultado.

In [55]:
x = {1,2}
y = {2,3,4}
sd = x.symmetric_difference(y)
print(sd)
print(x ^ y)

# {1,3,4}
# {1,3,4}
# La diferencia simétrica se queda con los que no están en ambos.

{1, 3, 4}
{1, 3, 4}

## Ejercicio 13 - issubset y issuperset

Crea a = {1,2} y b = {1,2,3,4}.

Verifica si a es subconjunto de b usando .issubset().

Luego verifica si b es superconjunto de a usando .issuperset().

Imprime ambos resultados y explica qué significan.

In [56]:
a = {1,2}
b = {1,2,3,4}
print(a.issubset(b))
print(b.issuperset(a))

# True
# True

# a es subconjunto de b (todos sus elementos están en b).
# b es superconjunto de a (contiene a a).

True
True

## Ejercicio 14 - isdisjoint

Crea m = {"py","js"} y n = {"html","css"}.

Verifica si son disjuntos (es decir, si no comparten nada).

Después crea p = {"js","go"} y compara m.isdisjoint(p).

Imprime los resultados y reflexiona cuándo sería útil este método.

In [57]:
m = {"py","js"}
n = {"html","css"}
print(m.isdisjoint(n))

p = {"js","go"}
print(m.isdisjoint(p))

# True
# False

# m y n no comparten nada → disjuntos.
# m y p sí comparten "js" → no son disjuntos.

True
False



---

# Tuplas (tuple)

Una tupla es una colección ordenada e inmutable de elementos.

Piensa en ella como una “caja” con posiciones fijas: puedes leer sus elementos por índice, pero no puedes cambiarlos después de crearla.

-Ordenada: conserva el orden de inserción.

-Inmutable: no permite reasignar, agregar o quitar elementos.

-Heterogénea: puede mezclar tipos (números, textos, bool, etc.).

-Permite duplicados: puede haber elementos repetidos.

-Indexable y sliceable: se accede por índice (0, 1, 2…) y admite slicing.

## Sintaxis

### Tupla vacía

In [58]:
t = ()

### Tupla con varios elementos

In [59]:
punto = (10, 20)
mixta = ("Ana", 25, True)

### Paréntesis opcionales (empaquetado)

Los paréntesis pueden omitirse al crear una tupla; lo que define a la tupla es la coma.

In [60]:
t = 1, 2, 3       # también es una tupla

### Tupla de un solo elemento (atención a la coma)

In [61]:
a = (5)     # NO es tupla, es int (paréntesis “normales”)
b = (5,)    # SÍ es tupla de un elemento
c = 5,      # SÍ es tupla de un elemento (coma define la tupla)

### Constructor tuple()

Convierte cualquier iterable en tupla.

In [62]:
tuple([1, 2, 3])      # (1, 2, 3)
tuple("hola")         # ('h', 'o', 'l', 'a')

('h', 'o', 'l', 'a')

# Acceso por índice y slicing

## Índices (positivos y negativos)

Si el índice no existe, aparecerá un IndexError

In [64]:
t = ("a", "b", "c", "d")
t[0]    # 'a'
t[2]    # 'c'
t[-1]   # 'd' (último)

'd'

## Slicing (rebanadas)

El slice devuelve una tupla nueva y no modifica la original.

In [65]:
t = (10, 20, 30, 40, 50)
t[1:4]     # (20, 30, 40)   desde 1 hasta antes de 4
t[:3]      # (10, 20, 30)   desde el inicio
t[::2]     # (10, 30, 50)   pasos de 2
t[::-1]    # (50, 40, 30, 20, 10)   invertida

(50, 40, 30, 20, 10)

## Inmutabilidad

No puedes: reasignar posiciones, agregar, quitar ni reordenar elementos.

In [66]:
t = (1, 2, 3)
# t[0] = 100    # TypeError
# t.append(4)   # no existe append en tuplas

Sí puedes: crear una tupla nueva a partir de otra (concatenación o repetición).

In [67]:
t = (1, 2, 3)
t2 = t + (4, 5)   # (1, 2, 3, 4, 5)  → nueva tupla
t3 = t * 2        # (1, 2, 3, 1, 2, 3)

## Membresía, longitud y recorrido

**Comparación**: las tuplas se comparan **lexicográficamente** (como palabras).

Primero índice 0; si empatan, índice 1; y así sucesivamente.

In [68]:
t = ("a", "b", "c", "b")
"a" in t      # True
"z" in t      # False
len(t)        # 4

for item in t:
    print(item)   # recorre en orden

a
b
c
b

## Tuplas anidadas y mutabilidad interna

Una tupla puede contener estructuras mutables (listas, diccionarios).

La tupla sigue siendo inmutable, pero los objetos internos sí pueden cambiar:

In [70]:
t = (1, [2, 3], 4)
t[1].append(99)   # ✅ cambia la lista interna
# t[0] = 100      # ❌ no puedes reasignar la posición 0
print(t)

(1, [2, 3, 99], 4)

## Concatenación y repetición

Puedes unir tuplas con + y repetir sus elementos con *.

Esto no modifica las tuplas originales, crea una nueva.

In [71]:
a = (10, 20)
b = (30, 40)

print(a + b)     # (10, 20, 30, 40)
print(a * 2)     # (10, 20, 10, 20)

(10, 20, 30, 40)
(10, 20, 10, 20)

## Unpacking (desempaquetado) básico

Permite asignar cada elemento de una tupla a variables, de forma directa:

In [72]:
fecha = (2025, 8, 28)

anio, mes, dia = fecha
print("Año:", anio)   # 2025
print("Mes:", mes)    # 8
print("Día:", dia)    # 28

Año: 2025
Mes: 8
Día: 28

Puedes ignorar valores con "_":

In [73]:
fecha = (2025, 8, 16)
anio, _, dia = fecha   # _ es una convención para “no lo usaré”

# Cuándo elegir tupla vs lista

## Tuplas

Idea clave: Piensa en una tupla como una tarjeta de identidad. Los datos se guardan en posiciones fijas y no deben cambiar. Son fijos.

La clave es que una tupla se usa cuando el dato no debe cambiar a lo largo del programa y representa algo “cerrado”.

# Características en la práctica:

-Su contenido es inmutable: no puedes agregar, quitar ni cambiar los valores.

-Sirve para datos fijos por posición (ejemplo: coordenadas (latitud, longitud)).

-Es más eficiente en memoria y en tiempo de ejecución que una lista.

-Puede usarse como clave en un diccionario o como elemento de un set (porque es inmutable).

In [74]:
# Coordenadas de un punto en un mapa
coordenada = (19.43, -99.13)

# Color en formato RGB
color = (255, 128, 64)

# Fecha
fecha = (2025, 8, 28)

## Lista


Idea clave: Una lista es como una mochila. Puedes abrirla, meter cosas nuevas, sacar, cambiar el orden.

La lista se usa cuando necesitas flexibilidad y sabes que los datos pueden cambiar con el tiempo.

### Características en la práctica:

-Su contenido es mutable: puedes agregar (append), eliminar (remove, pop) o cambiar elementos.

-Ideal para colecciones que crecen, cambian o se procesan dinámicamente.

-No puede usarse como clave en un dict ni como elemento en un set, porque es mutable.

In [75]:
# Lista de compras que puedes modificar
compras = ["pan", "leche", "huevos"]
compras.append("café")
compras.remove("pan")

# Lista de estudiantes
estudiantes = ["Ana", "Luis", "Marta"]
estudiantes[1] = "Carlos"

## Ejemplos guiados

In [76]:
# 1) Crear tuplas
t1 = (1, 2, 3)
t2 = "a", "b", "c"      # paréntesis opcionales
t3 = (5,)               # tupla de un solo elemento
print(t1, t2, t3)

# 2) Acceso por índice
print(t1[0])   # 1
print(t2[-1])  # 'c' (último elemento)

# 3) Slicing
nums = (10, 20, 30, 40, 50)
print(nums[1:4])   # (20, 30, 40)
print(nums[::-1])  # (50, 40, 30, 20, 10)

# 4) Inmutabilidad
t = (1, 2, 3)
# t[0] = 99   # ❌ Error: no se puede cambiar
print(t)

# 5) Concatenación y repetición
a = (1, 2)
b = (3, 4)
print(a + b)     # (1, 2, 3, 4)
print(a * 3)     # (1, 2, 1, 2, 1, 2)

# 6) Unpacking
punto = (100, 200)
x, y = punto
print("x =", x, "y =", y)

# 7) Tupla con mutable dentro
t = (1, [2, 3], 4)
t[1].append(99)     # ✅ sí cambia la lista interna
print(t)            # (1, [2, 3, 99], 4)

# 8) Tupla como clave de diccionario
coordenada = (19.43, -99.13)
lugares = {coordenada: "CDMX"}
print(lugares)

(1, 2, 3) ('a', 'b', 'c') (5,)
1
c
(20, 30, 40)
(50, 40, 30, 20, 10)
(1, 2, 3)
(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)
x = 100 y = 200
(1, [2, 3, 99], 4)
{(19.43, -99.13): 'CDMX'}

## Ejercicios

Crea una tupla con tres colores y muestra el primer y último elemento.

In [80]:
colores = ("rojo", "verde", "azul")
print("Primer elemento:", colores[0])
print("Último elemento:", colores[-1])

Primer elemento: rojo
Último elemento: azul

Crea una tupla con los números del 1 al 5. Usa slicing para mostrar del 2 al 4.

In [81]:
números = (1,2,3,4,5)
print(números[1:4])

(2, 3, 4)

Crea una tupla con un solo número (ejemplo: 7).

Imprime el tipo de dato y verifica que sea tuple.

In [82]:
número = (7,)
print(type(número))

<class 'tuple'>

Concatena dos tuplas: (10, 20) y (30, 40) en una nueva tupla.

Repite la tupla resultante 2 veces.

In [85]:
a = (10, 20)
b = (30,40)
c = a + b
print(c)
d = (a + b)*2
print(d)

(10, 20, 30, 40)
(10, 20, 30, 40, 10, 20, 30, 40)

Dada la tupla t = (5, 10, 15, 20, 25), usa slicing para mostrarla invertida.

In [88]:
t = (5,10,15,20,25)
print(t[::-1])        # (25,20,15,10,5)

(25, 20, 15, 10, 5)

Haz unpacking de la tupla fecha = (2025, 8, 28) en variables anio, mes, dia e imprímelas en un mensaje.

In [89]:
fecha = (2025, 8, 28)
fecha = anio, mes, dia
print("Año:", anio)
print("Mes:", mes)
print("Día:", dia)

Año: 2025
Mes: 8
Día: 16

Crea una tupla anidada t = ("Ana", (10, 20, 30), "Fin").

Muestra el número 20 accediendo correctamente a los índices.

In [91]:
t = ("Ana", (10, 20, 30), "Fin")
print(t[1][1])

20

Crea una tupla (1, [2,3], 4).

Agrega el número 99 a la lista interna y muestra el resultado.

In [93]:
tupla = (1, [2,3], 4)
tupla[1].append(99)
print(tupla)

(1, [2, 3, 99], 4)

Crea una tupla con coordenadas (19.43, -99.13).

Úsala como clave en un diccionario para almacenar "CDMX".

Imprime el diccionario.

In [96]:
coordenadas = (19.43, -99.13)
lugares = {coordenadas: "CDMX"}
print(lugares)

{(19.43, -99.13): 'CDMX'}



---

# Funciones integradas para colecciones

Las funciones integradas son herramientas que ya vienen incluidas en Python y funcionan sobre diferentes colecciones como listas, tuplas, sets, diccionarios e incluso strings.

Te permiten medir, comparar, ordenar o transformar datos de manera rápida, sin tener que escribir código extra.

## len(objeto)

-Devuelve la cantidad de elementos de la colección.

-Funciona con listas, tuplas, sets, diccionarios y strings.

In [97]:
len([1, 2, 3])           # 3
len((10, 20))            # 2
len({"a": 1, "b": 2})    # 2
len("Python")            # 6

6

## sum(iterable, start=0)

-Suma todos los elementos numéricos de la colección.

-Opcionalmente puedes dar un valor inicial con start.

In [98]:
sum([1, 2, 3, 4])        # 10
sum((2.5, 3.5))          # 6.0
sum([1, 2, 3], 10)       # 16 (inicia en 10)

16

## min(iterable) y max(iterable)

-Encuentran el valor más pequeño o el más grande en una colección.

-Se pueden usar con números, strings y otros datos comparables.

In [99]:
min([4, 7, 1, 9])        # 1
max([4, 7, 1, 9])        # 9
min("python")            # 'h' (por orden alfabético)

'h'

## sorted(iterable, reverse=False)

-Devuelve una lista nueva ordenada con los elementos.

-No modifica la colección original.

In [100]:
sorted([3, 1, 4, 2])                # [1, 2, 3, 4]
sorted((3, 1, 4, 2))                # [1, 2, 3, 4] (convierte a lista)
sorted({"b": 2, "a": 1})            # ['a', 'b']
sorted([3, 1, 4, 2], reverse=True)  # [4, 3, 2, 1]

[4, 3, 2, 1]

## reversed(iterable)

-Devuelve un iterador inverso, para recorrer los elementos en orden contrario.

-Tienes que envolverlo en list() o tuple() si quieres verlo completo.

In [101]:
list(reversed([1, 2, 3]))   # [3, 2, 1]
tuple(reversed((1, 2, 3)))  # (3, 2, 1)

(3, 2, 1)

## any(iterable)

-Devuelve True si al menos un elemento es verdadero (truthy).

-Si todos son falsos o el iterable está vacío, devuelve False.

In [102]:
any([0, "", False])       # False (todos son falsos)
any([0, 1, ""])           # True (el 1 es verdadero)

True

## all(iterable)

-Devuelve True si todos los elementos son verdaderos (truthy).

-Si alguno es falso, devuelve False.

In [103]:
all([1, True, "hola"])    # True
all([1, 0, "hola"])       # False (0 es falso)

False

## Ejemplos guiadods

In [104]:
# Ejemplo 1 - len()
frutas = ["manzana", "pera", "uva"]
print(len(frutas))
# Muestra 3 porque hay tres elementos en la lista.

# Ejemplo 2 - sum()
numeros = [10, 20, 30]
print(sum(numeros))
# Suma 10+20+30 = 60

# Ejemplo 3 - min() y max()
valores = [4, 9, 2, 7]
print(min(valores))  # 2 (el más pequeño)
print(max(valores))  # 9 (el más grande)

# Ejemplo 4 - sorted()
desordenados = [3, 1, 4, 2]
print(sorted(desordenados))
# Devuelve [1, 2, 3, 4] (nueva lista)
print(desordenados)
# La original no cambia.

# Ejemplo 5 - reversed()
palabra = "python"
print(list(reversed(palabra)))
# ['n', 'o', 'h', 't', 'y', 'p']

# Ejemplo 6 - any()
condiciones = [0, "", False, 5]
print(any(condiciones))
# True porque 5 es un valor verdadero.

# Ejemplo 7 - all()
checks = [1, True, "ok"]
print(all(checks))
# True porque todos son verdaderos.

3
60
2
9
[1, 2, 3, 4]
[3, 1, 4, 2]
['n', 'o', 'h', 't', 'y', 'p']
True
True



---

## Ejercicios

Crea una lista con cinco nombres de animales.

Muestra cuántos elementos tiene usando len().

In [106]:
animales = ["pez", "gato", "león", "perro", "mosca"]
print(len(animales))

5

Crea una lista con los números del 1 al 10.

Usa sum() para obtener la suma total.

In [107]:
números = [1,2,3,4,5,6,7,8,9,10]
print(sum(lista))

24

Dada la tupla t = (5, 17, 3, 9, 21), muestra el valor mínimo y el máximo.

In [109]:
t = (5, 17, 3, 9, 21)
print(min(t))
print(max(t))

3
21

Dada la lista puntos = [40, 10, 70, 20], ordénala de menor a mayor y también de mayor a menor.

In [112]:
puntos = [40, 10, 70, 20]
print(sorted(puntos))
print(sorted(puntos, reverse=True))

[10, 20, 40, 70]
[70, 40, 20, 10]

Dada la cadena texto = "python", crea una lista con sus letras en orden inverso.

In [113]:
texto = "python"
print(list(reversed(texto)))
# ['n', 'o', 'h', 't', 'y', 'p']

['n', 'o', 'h', 't', 'y', 'p']

Dado el set valores = {0, "", None, 15}, usa any() para verificar si hay al menos un valor verdadero.

In [115]:
valores = {0, "", None, 15}
print(any(valores))

True

Dado el diccionario checks = {"a": 1, "b": True, "c": "ok"}, aplica all() sobre checks.values() y explica el resultado.

In [117]:
checks = {"a": 1, "b": True, "c": "ok"}
print(all(checks.values()))
# True porque 1, True y "ok" son todos valores verdaderos.

True